<div class="viewer-sidebar-cmp-container" [@horizontalSlide]="{value: ':enter', params: { xPosition: '-300px' }}">
  <div class="viewer-sidebar-cmp-campaign-header">
    <h4 class="font-size-4" *ngIf="!headerTitleTemplate; else headerTemplate">
      {{headerTitle}}
    </h4>
    <ng-template #headerTemplate>
      <ng-container *ngTemplateOutlet="headerTitleTemplate; context: { $implicit: headerTemplate}">
      </ng-container>
    </ng-template>
    <ul class="viewer-sidebar-cmp-header-options-list mt-4" *ngIf="headerOptions">
      <li class="viewer-sidebar-cmp-header-option"
          *ngFor="let option of headerOptions; index as i"
          [class.active]="i === headerOptionActiveIndex || option.isActive"
          (click)="onClickHeaderOption($event, option, i)">
        {{ option.label }}
      </li>
    </ul>
  </div>
  <div class="viewer-sidebar-cmp-tree-toggle-container">
    <div class="d-flex justify-content-between cursor-pointer align-items-center viewer-sidebar-cmp-tree-toggle mb-3"
         (click)="treeIsVisible = !treeIsVisible" *ngIf="enableTreeToggle">
      <span class="font-weight-5">{{ treeToggleLabel }}</span>
      <ts-icon [type]="treeIsVisible ? 'chevron-down' : 'chevron-right'" size="xs"></ts-icon>
    </div>
    <div class="viewer-sidebar-cmp-tree-toggle-menu" @expandHeight *ngIf="treeIsVisible">
      <p-tree
        selectionMode="single"
        [(selection)]="selectedNode"
        (onNodeSelect)="onNodeSelect()"
        [value]="tree"
        [filter]="true"
        filterMode="strict">
      </p-tree>
    </div>
  </div>
</div>
