@import "~src/styles/colors-variables";

.message-cmp-phone-message-container {
  background-color: $color-blue-4;
  padding: 1rem;
  border-radius: 1.5rem 1.5rem 0 1.5rem;

  .message-cmp-phone-message {
    color: #fff;
  }

  &.incoming {
    background-color: #fff;
    border-radius: 1.5rem 1.5rem 1.5rem 0rem;

    .message-cmp-phone-message {
      color: $color-black-1;
    }
  }
}
