<form class="form" [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="login-container">
        <header class="header-1">
            <h1 class="header-1">Forgot Password</h1>
            <h2 class="label-1">Enter your email to receive a new password.</h2>
      </header>
      <div class="p-field">
        <ts-text-box
          #email
          [form]="form"
          id="email"
          type="email"
          label="Email"
        ></ts-text-box>
      </div>
      <div class="p-field">
        <ts-button
          value="Send New Password"
          type="button"
          class="button-1"
          [disabled]="(loading$ | async) || form.invalid"
          (click)="submitForm()"
        ></ts-button>
      </div>
    </div>
  </form>
  