@import '../../../../styles/colors.scss';

.auth-wrapper {
    height:100%;
    left:0;
    margin:0;
    padding:0;
    position:absolute;
    top:0;
    width:100%;
}
.auth-sidebar {
    background-color:$color-blue-5;
    float:left;
    height:100%;
    width:480px;
}
.auth-sidebar-content {
    margin-top:-12rem;
    padding:4rem;
    position:relative;
    top:50%;

    .slogan-text {
        color:$color-gray-5;
        font-size:3rem;
        font-weight:300;

        strong {
            color:$color-orange-1;
            font-weight:500;
        }
    }
}
.auth-body {
    height:100%;
    margin-left:480px;
}
.auth-body-content {
    align-items:center;
    display:flex;
    height:100%;
    justify-content:center;
    left:0;
    top:0;
    width:100%;
}
