<div class="auth-wrapper">
    <div class="auth-sidebar d-none d-md-block" [@horizontalSlide]="{ value: ':enter', params: {xPosition: '-100%'} }">
        <div class="auth-sidebar-logo">text surge</div>
        <div class="auth-sidebar-content">
            <span class="slogan-text">The Progressive SMS <strong>Experts</strong></span>
        </div>
    </div>
    <div class="auth-body">
        <div class="auth-body-content">
            <div class="panel-container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
