<div class="auth-wrapper">
    <div class="auth-sidebar">
        <div class="auth-sidebar-logo">text surge</div>
        <div class="auth-sidebar-content">
            <span class="slogan-text">The Progressive SMS <strong>Experts</strong></span>
        </div>
    </div>
    <div class="auth-body">
        <div class="auth-body-content">
            <div class="panel-container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<!-- <p-toast></p-toast> -->
