<div>
  <div class="d-flex justify-content-between mb-4 mt-5 pt-2">
    <span class="font-size-4 font-weight-6">Segments</span>
    <ts-button icon="edit"
               iconColor="blue-4"
               mode="secondary"
               value="Edit"
               (click)="goToContact()">
    </ts-button>
  </div>
  <div class="row mb-5 pb-4">
    <div class="col-12 d-flex align-items-center mb-4 pb-2">
      <span class="font-weight-3 me-2">Selected:</span>
      <span class="font-weight-6 text-color-blue-2">{{contactListText}}</span>
    </div>
    <div class="col-12 d-flex align-items-center">
      <span class="font-weight-3 me-2">Excluded:</span>
      <span class="font-weight-6 text-color-blue-2">{{excludedContactListText}}</span>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12">
      <h4 class="subtitle">All Contacts</h4>
    </div>
    <ts-list-filters
      [dataToFilter]="contacts"
      (onFilterData)="setFilteredContacts($event)"
      [actions]="contactActions"
    ></ts-list-filters>
    <p-table [value]="filteredContacts"
             styleClass="p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Phone Number</th>
          <th>ZIP</th>
          <th>City</th>
          <th>
            <ts-column-in-filter [defaultFilterValue]="selectedStatus"
                                 headerLabel="Status"
                                 field="status">
            </ts-column-in-filter>
          </th>
          <th>
            <ts-column-in-filter field="script"
                                 [defaultFilterValue]="selectedScript"
                                 headerLabel="Script">
            </ts-column-in-filter>
          </th>
          <th>Source</th>
          <th style="width:180px">
            <ts-column-in-filter field="tag"
                                 [defaultFilterValue]="selectedTag"
                                 headerLabel="Tag"
                                 [data]="filteredContacts | uniqueValuesArrayElementsPipe: 'tag'">
            </ts-column-in-filter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-contact>
        <tr>
          <td>{{contact.firstName}} {{contact.lastName}}</td>
          <td>{{contact.phone}}</td>
          <td>{{contact.zip}}</td>
          <td class="text-color-gray-2">{{contact.city}}</td>
          <td>
              <span class="text-color-{{statusColors[contact.status]}} font-weight-5">
                {{ contact.status}}
              </span>
          </td>
          <td class="text-color-gray-2">{{ contact.script}}</td>
          <td class="text-color-gray-2">{{ contact.source }}</td>
          <td>
            <ts-button-label [type]="tagColors[contact.tag]" [value]="contact.tag">
            </ts-button-label>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [modal]="true" header="Export Options" [(visible)]="exportContactIsVisible" [breakpoints]="{'960px': '75vw'}"
          [style]="{width: '25vw'}" [baseZIndex]="10000" contentStyleClass="pb-0"
          [draggable]="false" [resizable]="false">
  <div class="row mt-3">
    <div class="col-sm-12 col-md-6 mb-5" *ngFor="let exportColumn of contactExportColumns">
      <p-checkbox binary="true" [ngModel]="true" [label]="exportColumn"></p-checkbox>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <ts-button value="Export" (click)="exportContactIsVisible = false"></ts-button>
  </ng-template>
</p-dialog>
