@import '../../../../styles/colors.scss';
@import '../../../../styles/text.scss';

.button-cmp-container {
    display:inline-block;

    .button-cmp {
        border-style:solid;
        border-width:2px;
        cursor:pointer;
        display:inline-block;

        .button-cmp-text {
            display:inline-block;
        }
    }

    .button-cmp.primary {
        background-color:$color-blue-5;
        border-color:$color-blue-5;
        border-radius:1.5em;
        padding:0.5em 1.1em;

        .button-cmp-text {
            color:$color-gray-5;
            font-size:$font-size-3;
            font-weight:$font-weight-4;
        }
    }

    .button-cmp.secondary {
        background-color:transparent;
        border-color:$color-blue-5;
        border-radius:1.5em;
        border-width:2px;
        padding:0.5em 1.1em;

        .button-cmp-text {
            color:$color-blue-5;
            font-size:$font-size-3;
            font-weight:$font-weight-5;
        }
    }

    .button-cmp.primary[disabled],
    .button-cmp.primary[disabled=true] {
        background-color:$color-gray-2;
        border-color:$color-gray-2;
        cursor:not-allowed;
    }
}

.rounded-sm {
  width: 30px;
  height: 30px;
}

.rounded-md {
  width: 45px;
  height: 45px;
}

.rounded-lg {
  width: 60px;
  height: 60px;
}

.rounded-xl {
  width: 75px;
  height: 75px;
}
