<div class="campaigns-container">
  <div class="campaigns-container">
    <article class="campaigns">
      <form class="campaigns-form" #form="ngForm">
        <div class="d-flex justify-content-between align-items-center my-3 flex-wrap" *ngIf="!justList">
          <span class="font-size-9" *ngIf="!secondLayoutMode">Campaigns</span>
          <h5 class="active-campaigns-title-text mb-4 mb-md-0"
              *ngIf="secondLayoutMode" @fade>
            {{justActiveCampaign ? 'Active' : 'Completed'}} Campaigns</h5>
          <ts-button value="New"
                     icon="add"
                     (click)="goToCreateCampaign()"
                     [customIconSize]="{
                               width: '20px',
                               height: '22px',
                               viewBox: '0 0 15 15'
                           }">
          </ts-button>
        </div>

        <div
          class="d-flex justify-content-between align-items-center {{!secondLayoutMode ? 'campaign-list-cmp-header-options' : '' }}">
          <p-tabView *ngIf="!secondLayoutMode" (onChange)="updateCampaigns($event.index === 1)" @fade>
            <p-tabPanel header="Active Campaigns">
            </p-tabPanel>
            <p-tabPanel header="Past Campaigns" [selected]="enableCompletedCampaigns">
            </p-tabPanel>
          </p-tabView>
          <ts-list-filters
            [class.w-100]="secondLayoutMode"
            [dataToFilter]="enableCompletedCampaigns ? completedCampaigns : campaigns"
            (onFilterData)="setFilteredCampaign($event)"
            [filterByProperties]="filterByProperties"
            [sortByProperties]="sortByProperties"
            [searchWrapperClass]="!secondLayoutMode ? 'campaign-list-cmp-search-wrapper' : ''"
            searchField="description"
          ></ts-list-filters>
        </div>
        <div [@fadeListAnimation]="filteredCampaigns.length">
          <div
            *ngFor="let campaign of filteredCampaigns; index as i"
            class="campaign-panel-cmp-status-item"
          >
            <ts-campaign-panel
              (click)="selectCampaign($event)"
              [model]="campaign"
            ></ts-campaign-panel>
          </div>
        </div>
        <div *ngIf="!filteredCampaigns.length" class="mt-5">No campaigns are currently active</div>
      </form>
    </article>
  </div>
</div>
