<div class="mb-4">
  <div class="d-flex justify-content-between mb-4 mt-5 pt-2">
    <span class="font-size-4 font-weight-6">Scripts</span>
    <ts-button icon="edit"
               iconColor="blue-4"
               mode="secondary"
               value="Edit"
               (click)="goToScripts()"
    >
    </ts-button>
  </div>
  <div class="row">
    <div class="col-12 mb-4 pb-2">
      <span class="font-weight-3 text-color-gray font-size-3">
        Justin Case Script 1
      </span>
      <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt fugit libero magnam modi natus nostrum porro quae quis, recusandae reiciendis repellendus temporibus veniam </p>
    </div>
  </div>
</div>

<div class="pb-4">
  <div class="d-flex justify-content-between mb-4">
    <span class="font-size-4 font-weight-6">Recommended Replies</span>
  </div>
  <div class="row">
    <div class="col-12 mb-4 pb-2">
      <span class="font-weight-3 text-color-gray font-size-3">
        Yes will vote for Justin Case
      </span>
      <p class="mt-3">Thanks the democracy is great!</p>
    </div>
  </div>
</div>

<div class="mb-5">
  <div class="d-flex justify-content-between mb-4">
    <span class="font-size-4 font-weight-6">Unsubscribe Message</span>
  </div>
  <div class="row">
    <div class="col-12 mb-4 pb-2">
      <p class="mt-3">You have unsubscribe from all future message about Justin Case</p>
    </div>
  </div>
</div>
