<form [formGroup]="form" (ngSubmit)="submitForm()" [tsValidateFormControl]="form">
  <h1>New Campaign</h1>
  <div class="col-8">
    <div class="row">
      <div class="col-6">
        <p-autoComplete  required formControlName="clientId" [suggestions]="[{ id: 1, name: 'Va Game' }]"
                        [dropdown]="true"></p-autoComplete>
      </div>
      <div class="col-6">
        <ts-text-box ngDefaultControl formControlName="name" required email></ts-text-box>
      </div>
    </div>
    <div class="row my-4">
      <textarea [rows]="8" [cols]="30"  formControlName="description" pInputTextarea autoResize="autoResize"></textarea>
    </div>
    <div class="row my-4">
      <div class="col-3">
        <p-calendar readonlyInput formControlName="endDate" required></p-calendar>
      </div>
      <div class="col-3">
        <p-inputNumber formControlName="totalBudget" min="1" required inputId="currency-us" mode="currency" currency="USD" locale="en-US"
                       [minFractionDigits]="0">
        </p-inputNumber>
      </div>
      <div class="col-3">
        <p-inputNumber formControlName="sendRate" min="1" required inputId="currency-us" mode="currency" currency="USD" locale="en-US"
                       [minFractionDigits]="0">
        </p-inputNumber>
      </div>
      <div class="col-3">
        <p-inputNumber formControlName="replyRate" min="1" required inputId="currency-us" mode="currency" currency="USD" locale="en-US"
                       [minFractionDigits]="0">
        </p-inputNumber>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-3">
        <p-calendar readonlyInput formControlName="startTime" required [timeOnly]="true" inputId="timeonly"></p-calendar>
      </div>
      <div class="col-3">
        <p-calendar readonlyInput formControlName="endTime" required [timeOnly]="true" inputId="timeonly"></p-calendar>
      </div>
      <div class="col-6">
        <p-autoComplete formControlName="clientId" required [suggestions]="[{ id: 1, name: 'Va Game' }]"
                        [dropdown]="true"></p-autoComplete>
      </div>
    </div>
    <div class="row mt-5">
      <ts-button  type="submit" class="mt-5" value="Save and Continue"></ts-button>
    </div>
  </div>
</form>

