<div class="my-5 d-flex flex-column">
  <b>Va Dems</b>
  <h1>Justin Case for Governor 2021</h1>
</div>
<div class="col-12">
  <div class="d-flex justify-content-between my-4 align-items-center">
    <span class="subtitle">Select Phone Numbers</span>
    <p>40 required</p>
  </div>
  <div class="row campaign-texters-cmp-section">
    <ts-list-filters
      [dataToFilter]="phoneNumbers"
      (filterData)="setFilteredPhoneNumbers($event)"
      searchField="name"
    ></ts-list-filters>
    <p-table [value]="filteredPhoneNumbers"
             styleClass="p-datatable-sm"
             (onRowSelect)="onRowSelect($event.data)"
             (onRowUnselect)="onRowUnselect($event.data)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
          </th>
          <th class="text-uppercase campaign-texters-cmp-table-header">Phone Number</th>
          <th class="text-uppercase campaign-texters-cmp-table-header">Location</th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-phoneNumber>
        <tr>
          <td>
            <p-tableCheckbox [value]="phoneNumber"></p-tableCheckbox>
          </td>
          <td><b class="text-color-blue-4">{{phoneNumber.phone}}</b></td>
          <td>{{phoneNumber.location}}</td>
          <td></td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
    <span class="error-message ms-3 mt-2" *ngIf="showErrorMessage && totalContacts <= 0" data-error-message="Must select at least 1 list"></span>
  </div>

  <div class="row campaign-texters-cmp-section">
    <h4 class="subtitle">Select Texters</h4>
    <ts-list-filters
      [dataToFilter]="texters"
      (filterData)="setFilteredTexters($event)"
      [sortByProperties]="sortByProperties"
      searchField="name"
    ></ts-list-filters>
    <p-table [value]="filteredTexters"
             styleClass="p-datatable-sm"
             (onRowSelect)="onRowSelect($event.data, true)"
             (onRowUnselect)="onRowUnselect($event.data, true)">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
          </th>
          <th class="text-uppercase campaign-texters-cmp-table-header">Name</th>
          <th></th>
          <th class="text-uppercase campaign-texters-cmp-table-header">Status</th>
          <th></th>
          <th class="text-uppercase campaign-texters-cmp-table-header">Assigned</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-texter>
        <tr>
          <td>
            <p-tableCheckbox [value]="texter"></p-tableCheckbox>
          </td>
          <td><b>{{texter.name}}</b></td>
          <td></td>
          <td>{{texter.contactsQuantity}}</td>
          <td></td>
          <td>{{texter.createdDate}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="d-flex align-items-center">
    <ts-button  type="submit" value="Save and Continue" [disabled]="totalContacts <= 0" (click)="next()"></ts-button>
    <b class="ms-4" [class.error-message-text]="totalContacts <= 0 && showErrorMessage">{{totalContacts}} contacts selected</b>
  </div>
</div>
