<div class="mb-5 d-flex client-viewer-cmd-client-container">
  <div class="client-viewer-cmd-client-tree-container">
    <div class="d-flex align-items-center justify-content-between client-viewer-cmp-client-header">
      <h4 class="font-size-4 font-weight-7">Clients</h4>
      <ts-button icon="add" rounded="sm"  class="add-client-button" iconColor="gray-7" (click)="goToCampaign()">
      </ts-button>
    </div>
    <p-tree
      selectionMode="single"
      [(selection)]="selectedClient"
      (onNodeSelect)="onSelectClient($event)"
      [value]="clientsTree"
      [filter]="true"
      filterMode="strict"
    ></p-tree>
  </div>
  <div class="div w-100">
    <ts-client-view></ts-client-view>
  </div>
</div>
