<form #formEl [formGroup]="form" [generateAndErrorHandlingReactiveForm]="form" [container]="formEl"
      (ngSubmit)="createClient()" class="mb-5 spaced-container">
  <div class="font-size-10 mb-5">{{ editMode ? 'Edit' : 'New'}} Client</div>
  <div class="row mb-5">
    <div class="col-12 col-lg-4" [@verticalSlide]="{ value: ':enter', params: { initialOpacity: 0 }}">
      <label for="name">Name</label>
      <input type="text" formControlName="name" required/>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 col-lg-4 d-flex align-items-center flex-wrap">
      <label for="accountType" class="mb-3 w-100">Account Type</label>
      <p-radioButton value="primary" class="me-5" required
                     formControlName="accountType" inputId="accountType"
                     label="Primary"
                     [@verticalSlide]="{ value: ':enter', params: { initialOpacity: 0, delay: '.2s', yPosition: '30px' }}">
      </p-radioButton>
      <p-radioButton value="sub" required
                     formControlName="accountType" inputId="accountType1"
                     label="Sub Account"
                     [@verticalSlide]="{ value: ':enter', params: { initialOpacity: 0, delay: '.3s', yPosition: '30px' }}">
      </p-radioButton>
    </div>
    <div class="col-12 col-lg-3" [class.visually-hidden]="accountType!=='sub'">
      <label for="parent">Primary Account</label>
      <p-autoComplete [forceSelection]="true" [required]="accountType==='sub'" formControlName="parent" inputId="parent"
                      field="name" [suggestions]="filteredClients"
                      [dropdown]="true" (completeMethod)="filterClients($event.query)"></p-autoComplete>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 col-lg-7">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <span class="font-size-4 font-weight-7">Select Phone Number</span>
        <ts-list-filters
          [dataToFilter]="phoneNumbers"
          (onFilterData)="setFilteredPhoneNumbers($event)"
          [selectableSearchFields]="selectableSearchFields"
        ></ts-list-filters>
      </div>
      <p-table [value]="filteredPhoneNumbers"
               styleClass="p-datatable-sm p-table-responsive"
               [(selection)]="selectedPhone"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 5rem">
            </th>
            <th>Phone Number</th>
            <th>Location</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-phoneNumber>
          <tr>
            <td>
              <div class="d-flex">
                <p-tableRadioButton [value]="phoneNumber"></p-tableRadioButton>
              </div>
            </td>
            <td>{{phoneNumber.phone}}</td>
            <td class="text-color-gray-2">{{phoneNumber.location}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="row">
    <ts-button type="submit" value="Save"></ts-button>
  </div>
</form>

