@import "~src/styles/colors-variables";
@import "~src/styles/text-variables";

.contact-list-form-cmp {
  .contact-list-form {

    p-table {
      td {
        font-size: $font-size-2;
        color: $color-gray-1;
        &:first-of-type + td {
          font-size: $font-size-3;
        }
      }
    }
    .contact-list-form-cmp-loaded-csv {
      background-color: $color-gray-8;
      border-radius: 5px;
    }

    .contact-list-form-cmp-upload-csv {
      position: relative;
      border: 1px dashed $color-gray-2;
      border-radius: 5px;

      .contact-list-form-cmp-upload-csv-input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }

    .contact-list-form-cmp-action-text {
      white-space: nowrap;
    }

    ::ng-deep {
      .contact-list-form-cmp-selectable-table {
        margin-top: 0 !important;
        margin-bottom: 0 !important;

        .list-filters-cmp-left-hub {
          order: 2;
          margin-left: 2.5rem;
        }
      }
    }

    .contact-list-cmp-table-contact-list-container {
      z-index: 1;

      .contact-list-cmp-toggle-table-contact-list {
        &.disabled {

          ::ng-deep {
            span {
              color: $color-gray-1 !important;
            }

            svg {
              stroke: $color-gray-1 !important;

              use {
                fill: $color-gray-1 !important;
              }
            }
          }
        }
      }
    }
  }
}
