<div class="inbox-cmp messaging-viewer-content">
  <div class="mb-4 col-12">
    <div class="d-flex justify-content-between align-items-center">
      <span class="font-size-9" @fade>Inbox</span>
      <ts-button value="Reassign Replies" (click)="isReassignDialogOpen = true"></ts-button>
    </div>
  </div>
  <div
    class="d-flex justify-content-between align-items-center flex-wrap flex-lg-nowrap inbox-cmp-filtering-container mb-4">
    <p-tabView styleClass="inbox-cmp-tab w-100" (onChange)="changeConversations($event)" @fade>
      <p-tabPanel header="Active">
      </p-tabPanel>
      <p-tabPanel header="Completed Conversations" [selected]="enableCompletedConversation">
      </p-tabPanel>
    </p-tabView>
    <ts-list-filters
      class="inbox-cmp-filters flex-lg-nowrap m-lg-0"
      [dataToFilter]="messages"
      (onFilterData)="setMessagesFilteredData($event)"
      [filterByProperties]="filterByProperties"
      [sortByProperties]="sortByProperties"
      [actions]="actions"
      searchWrapperClass="ms-lg-5 ms-3 order-2"
      filtersWrapperClass="inbox-cmp-filter-actions flex-lg-nowrap"
      actionsClass="me-lg-5">
    </ts-list-filters>
  </div>
  <p-table [value]="filteredMessages"
           styleClass="p-datatable-sm ts-datatable-flat"
           class="d-block"
           [@fadeListAnimation]="filteredMessages.length">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <ts-column-in-filter headerLabel="Contact"
                               field="contact.name">
          </ts-column-in-filter>
        </th>
        <th>
          <ts-column-in-filter headerLabel="Campaign"
                               [defaultFilterValue]="filterByCampaignName"
                               field="campaign.description">
          </ts-column-in-filter>
        </th>
        <th>
          Last Message
        </th>
        <th *ngIf="enableCompletedConversation">
          Note
        </th>
        <th>
          <div class="d-flex justify-content-end">
            <ts-column-in-filter headerLabel="Time Stamp"
                                 field="date">
            </ts-column-in-filter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-message>
      <tr (click)="goToConversation(message.id)" [class.unread]="message.unread">
        <td>
          <span>
            {{message.contact.name}}
          </span> <br>
          <span>{{ message.contact.phone }}</span>
        </td>
        <td>
          <span>
            {{ message.campaign.client }}
          </span> <br>
          <span>{{ message.campaign.description }}</span>
        </td>
        <td>
          Yep, I'm planning on it!
        </td>
        <td *ngIf="enableCompletedConversation">
          {{message.note}}
        </td>
        <td class="text-color-gray-2 d-flex justify-content-end align-items-center font-size-2 p-3">
          <div class="d-flex align-items-end flex-column me-3">
            <span> {{message.date | date }}</span>
            <span> {{message.date | date : 'hh:mm a' }}</span>
          </div>
          <ts-icon type="{{message.type}}-message" color="gray-2"></ts-icon>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog [modal]="true" header="Reassign Replies?" [(visible)]="isReassignDialogOpen"
            [breakpoints]="{'960px': '75vw'}"
            [style]="{width: '25vw'}"
            [draggable]="false" [resizable]="false">
    <div>
      <p class="font-weight-3">
        Are you sure you want to reassign all of your replies to another texter? You'll no longer
        be able to respond to your conversations.
      </p>
    </div>
    <ng-template pTemplate="footer">
      <div class="d-flex w-100">
        <ts-button value="Confirm" class="me-3" (click)="reassignConversation()"></ts-button>
        <ts-button mode="normal" value="Cancel" (click)="isReassignDialogOpen = false"></ts-button>
      </div>
    </ng-template>
  </p-dialog>
</div>
