@import '../../../../styles/colors-variables';
@import '../../../../styles/text-variables';

.progress-bar-cmp-container {
    .progress-bar-cmp {
        padding:0 0 12px;

        .progress-bar-cmp-bar-container {
            .progress-bar-cmp-bar {
                border-radius:.5rem;
                display:block;
                height:7px;
                overflow:hidden;
                position:relative;

                .progress-bar-cmp-bar-value {
                    border-radius:.5rem;
                    display:block;
                    height:100%;
                    left:0;
                    position:absolute;
                    top:0;

                  &::after {
                    content: "";
                    position: absolute;
                    width: 1000%;
                    top: 0;
                    left:0;
                    height: 100%;
                    background-color: inherit;
                    opacity: .3;
                  }
                }
            }
        }

        .progress-bar-cmp-metrics-container {
            padding-top:8px;

            .progress-bar-cmp-metrics {
                align-items:center;
                display:flex;
                justify-content:space-between;

                .progress-bar-cmp-pct-container {
                    .progress-bar-cmp-pct {
                        font-size:$font-size-3;
                        font-weight:$font-weight-5;
                    }
                }

                .progress-bar-cmp-value-container {
                    color:$color-gray-2;
                    font-size:$font-size-2;
                    font-weight:$font-weight-3;
                }
            }
        }
    }
}
