<div class="progress-bar-cmp-container">
    <section class="progress-bar-cmp" [ngClass]="class">
        <div class="progress-bar-cmp-bar-container">
            <div class="progress-bar-cmp-bar" [style.background-color]="foregroundColor">
                <div class="progress-bar-cmp-bar-value" [style.background-color]="backgroundColor" [style.width.%]="value | calcPercent : total"></div>
            </div>
        </div>
        <div class="progress-bar-cmp-metrics-container">
            <div class="progress-bar-cmp-metrics">
                <div class="progress-bar-cmp-pct-container">
                    <span class="progress-bar-cmp-pct">{{value | calcPercent : total}}%</span>
                </div>
                <div class="progress-bar-cmp-value-container">
                    <span class="progress-bar-cmp-value">{{ value }}</span>
                    <span class="progress-bar-cmp-value-total">/{{ total }} </span>
                    <span class="progress-bar-cmp-value-text">{{ text }}</span>
                </div>
            </div>
        </div>
    </section>
</div>
