<div class="user-profile-cmp spaced-container">
  <div class="row mb-5">
    <span class="font-size-10" @fade>Owner</span>
  </div>
  <div class="row mt-5">
    <div class="d-flex align-items-center col-12 col-md-6">
      <p-avatar styleClass="user-profile-cmp-avatar" [image]="image" size="xlarge" shape="circle" class="me-4"></p-avatar>
      <div class="d-flex flex-column justify-content-around h-100">
        <div>
          <div class="font-weight-7 font-size-4 mb-2">John Doe</div>
          <div class="d-block font-weight-3 font-size-3 text-color-gray">All Account</div>
        </div>
        <ts-icon type="messages-icon" color="blue-5" label="Messages"></ts-icon>
      </div>
    </div>
    <div class="col-12 col-md-3 border-start ps-3 user-profile-cmp-detail">
      <span class="d-block text-color-gray">
        Email
      </span>
      <span class="text-color-blue-5">
        wilfre_padilla@hotmail.com
      </span>
    </div>
    <div class="col-12 col-md-3 border-left border-start ps-3 user-profile-cmp-detail">
      <span class="d-block text-color-gray">
        Phone
      </span>
      <span>
       (809) 123-111
      </span>
    </div>
  </div>
</div>


