@import "~src/styles/text-variables";
.user-profile-cmp {
  ::ng-deep {
    .user-profile-cmp-avatar {
      width: 9rem;
      height: 9rem;
    }
  }

  .user-profile-cmp-detail {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: $font-size-2;
  }
}
