@import '../../../../styles/colors-variables';

svg-icon-sprite {
  display: flex;
  height: 100%;
}

::ng-deep {

  .ts-icon {
    transition: all .3s ease;
  }

  .ts-icon:hover {
    filter: brightness(.7);
  }

  @each $colorType, $variants in $colors {
    @each $variant, $color in $variants {
      $colorVariant: '-' + $variant;
      @if ($variant == 1) {
        // if it's first color variant the class will be ej: text-color-blue
        $colorVariant: ''
      }
      .#{$colorType}#{$colorVariant} {
        use {
          fill: $color !important;
        }
      }
      
      .stroke-#{$colorType}#{$colorVariant} {
        stroke: $color;
      }
    }
  }
}
.icon-cmp-container {
  display: flex;
  align-items: center;

  &.icon-cmp-size-xs {
    width: 15px;
    height: 15px;
  }

  &.icon-cmp-size-sm {
    width: 25px;
    height: 25px;
  }

  &.icon-cmp-size-md {
    width: 45px;
    height: 45px;
  }

  &.icon-cmp-size-lg {
    width: 65px;
    height: 65px;
  }

  &.icon-cmp-size-xl {
    width: 85px;
    height: 85px;
  }


  &.assign {
    width: 25px;
    height: 17px;
  }
  &.user-place-holder {
    height: 40px;
    width: 50px;
  }
  &.user-placeholder-online {
    height: 40px;
    width: 50px;
  }
}

