@import '../../../../styles/colors.scss';

::ng-deep {

  .ts-icon {
    transition: all .3s ease;
  }

  .ts-icon:hover {
    filter: brightness(.7);
  }

  @each $colorType, $variants in $colors {
    @each $variant, $color in $variants {
      $colorVariant: '-' + $variant;
      @if ($variant == 1) {
        // if it's first color variant the class will be ej: text-color-blue
        $colorVariant: ''
      }
      .#{$colorType}#{$colorVariant} {
        use {
          fill: $color !important;
        }
      }
      
      .stroke-#{$colorType}#{$colorVariant} {
        stroke: $color;
      }
    }
  }
}
