@import '../../../../styles/colors.scss';

::ng-deep {
  .blue {
    use {
      fill: $color-blue-1 !important;
    }
  }
  .blue-2 {
    use {
      fill: $color-blue-2 !important;
    }
  }
  .blue-3 {
    use {
      fill: $color-blue-3 !important;
    }
  }
  .blue-4 {
    use {
      fill: $color-blue-4 !important;
    }
  }
  .blue-5 {
    use {
      fill: $color-blue-5 !important;
    }
  }
  .blue-6 {
    use {
      fill: $color-blue-6 !important;
    }
  }
  .blue-7 {
    use {
      fill: $color-blue-7 !important;
    }
  }
  .blue-8 {
    use {
      fill: $color-blue-8 !important;
    }
  }
  .blue-9 {
    use {
      fill: $color-blue-9 !important;
    }
  }
  .orange {
    use {
      fill: $color-orange-1 !important;
    }
  }
  .yellow {
    use {
      fill: $color-yellow-1 !important;
    }
  }
  .red {
    use {
      fill: $color-red-1 !important;
    }
  }
  .red-2 {
    use {
      fill: $color-red-2 !important;
    }
  }
  .red-3 {
    use {
      fill: $color-red-3 !important;
    }
  }
  .gray {
    use {
      fill: $color-gray-1 !important;
    }
  }
  .gray-2 {
    use {
      fill: $color-gray-2 !important;
    }
  }
  .gray-3 {
    use {
      fill: $color-gray-3 !important;
    }
  }
  .gray-4 {
    use {
      fill: $color-gray-4 !important;
    }
  }
  .gray-5 {
    use {
      fill: $color-gray-5 !important;
    }
  }
  .gray-6 {
    use {
      fill: $color-gray-6 !important;
    }
  }
  .gray-7 {
    use {
      fill: $color-gray-7 !important;
    }
  }
}
