<form #detailForm [formGroup]="form" (ngSubmit)="submitForm()" [generateAndErrorHandlingReactiveForm]="form" [form]="detailForm">
  <h1 class="my-5">{{mode}} Campaign</h1>
  <div class="col-xl-8 col-lg-10 col-md-12">
    <div class="row">
      <div class="col-6 d-flex flex-column">
        <label for="clientId">Client</label>
        <p-autoComplete  [forceSelection]="true" required formControlName="clientID" inputId="clientId" field="name" [suggestions]="filteredClients"
                        [dropdown]="true" (completeMethod)="filterClients($event)" ></p-autoComplete>
      </div>
      <div class="col-6 mt-1">
        <ts-text-box ngDefaultControl #name [defaultValue]="form.value.name" label="Name"  formControlName="name" required></ts-text-box>
      </div>
    </div>
    <div class="row my-4">
      <label for="description">Description</label>
      <textarea [rows]="8" [cols]="30"  id="description" formControlName="description" pInputTextarea minlength="4" autoResize="autoResize"></textarea>
    </div>
    <div class="row my-4">
      <div class="col-3">
        <label for="endDate">Due Date</label>
        <p-calendar inputId="endDate" readonlyInput formControlName="endDate" required [showIcon]="true"></p-calendar>
      </div>
      <div class="col-3">
        <label for="totalBudget">Total budget</label>
        <p-inputNumber  inputId="totalBudget" formControlName="totalBudget" min="1" required  mode="currency" currency="USD" locale="en-US">
        </p-inputNumber>
      </div>
      <div class="col-3">
        <label for="sendRate">Initial Rate</label>
        <p-inputNumber  inputId="sendRate" formControlName="sendRate" min="1" required  mode="currency" currency="USD" locale="en-US">
        </p-inputNumber>
      </div>
      <div class="col-3">
        <label for="replyRate">Reply Rate</label>
        <p-inputNumber inputId="replyRate" formControlName="replyRate" min="1" required  mode="currency" currency="USD" locale="en-US">
        </p-inputNumber>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-3">
        <label for="startTime">Start Time</label>
        <p-calendar  [showIcon]="true" icon="pi pi-clock" inputId="startTime" readonlyInput formControlName="startTime" required [timeOnly]="true" inputId="timeonly"></p-calendar>
      </div>
      <div class="col-3">
        <label for="endTime">End Time</label>
        <p-calendar [showIcon]="true" icon="pi pi-clock" inputId="endTime" readonlyInput formControlName="endTime" required [timeOnly]="true" inputId="timeonly"></p-calendar>
      </div>
      <div class="col-6 d-flex flex-column justify-content-between">
        <label for="timezone">Timezone</label>
        <p-autoComplete inputId="timezone" formControlName="timezone" required [suggestions]="filteredTimezones" field="name"
                        [dropdown]="true" (completeMethod)="filterTimezones($event)" [forceSelection]="true"></p-autoComplete>      </div>
    </div>
    <div class="row">
      <ts-button  type="submit" class="mt-5" value="Save and Continue"></ts-button>
    </div>
  </div>
</form>

