<span class="font-size-2">{{ selectedValue || headerLabel }}</span>
<p-columnFilter
  #columnFilter
  [field]="field"
  (clickOutside)="clickOutside.emit()"
  matchMode="in"
  display="menu"
  (click)="clickFilter($event)"
  [hideOnClear]="true"
  [showApplyButton]="false"
  [showClearButton]="false"
  [showMatchModes]="false"
  [showOperator]="false"
  [showAddButton]="false">
  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
    <p-listbox [options]="data | uniqueValuesArrayElementsPipe: field | concatValuesPipe : !listItem ? ['any'] : [] : 'unshift'"
               (onClick)="onSelectOption($event, filter)"
               (onChange)="onChange.emit($event);"
               filterPlaceHolder="Search"
               [class.disable-selected]="!selectedValue"
               [ngModel]="selectedValue"
               [filter]="enableSearch">
      <ng-template pTemplate="item" let-item let-index="index" *ngIf="listItem">
          <ng-container *ngTemplateOutlet="listItem; context: { $implicit: (data || []) | tsFindBy : field : item }"></ng-container>
      </ng-template>
    </p-listbox>
  </ng-template>
</p-columnFilter>


