@import '../../../../styles/colors.scss';
@import '../../../../styles/text.scss';

.top-bar-cmp-container {
    height:100%;

    .top-bar-cmp {
        align-items:center;
        display:flex;
        height:100%;
        justify-content:space-between;
        margin:0 40px;

        .top-bar-cmp-title-container {
            .top-bar-cmp-title {
                color:$color-blue-2;
                font-size:$font-size-7;
                font-weight:$font-weight-4;
                margin:0;
                padding:0;

                strong {
                    font-weight:$font-weight-7;
                }
            }
        }

        .top-bar-cmp-user-container {
            background-color:#999999;
            height:48px;
            width:48px;

            .top-bar-cmp-user {

            }
        }
    }
}
