@import '../../../../styles/colors-variables';

::ng-deep {
  .p-dropdown {
    border: none;
  }
  .p-dropdown-label {
    font-weight: 600;
    color: $color-blue-2;
  }
  .p-dropdown:focus {
    border: none;
    top: -1px;
  }
}

.bordered-bottom {
  border-bottom: 1px solid #a4adbb;
}

.dropdown-cmp-label {
  white-space: nowrap;
}
