$colorPrimary: #74B143;
$colorAccent1: #3089B5;
$colorAccent2: #334E5D;
$colorAccent3: #2A363D; 
$colorAccent4: #76919C; // Headings
$colorAccent5: #F4F8FC; // Background
$colorAccent6: #FFFFFF;
$colorAccent7: #CD5C5C;


$color-blue-1: #011140;
$color-blue-2: #141666;
$color-blue-3: #0b5380;
$color-blue-4: #003399;
$color-blue-5: #2a5ec8;
$color-blue-6: #4b82f1;
$color-blue-7: #77a4ff;
$color-orange-1: #ffaa00;
$color-yellow-1: #ffff00;
$color-red-1: #b43049;
$color-red-2: #eb3659;
$color-red-3: #ffeaed;
$color-gray-1: #677488;
$color-gray-2: #e9ebee;
$color-gray-3: #d8e5ff;
$color-gray-4: #eaeeff;
$color-gray-5: #e3f3f7;
