$colorPrimary: #74B143;
$colorAccent1: #3089B5;
$colorAccent2: #334E5D;
$colorAccent3: #2A363D; 
$colorAccent4: #76919C; // Headings
$colorAccent5: #F4F8FC; // Background
$colorAccent6: #FFFFFF;
$colorAccent7: #CD5C5C;
