$color-blue-1: #011140;
$color-blue-2: #141666;
$color-blue-3: #0b5380;
$color-blue-4: #003399;
$color-blue-5: #2a5ec8;
$color-blue-6: #4b82f1;
$color-blue-7: #77a4ff;
$color-orange-1: #ffaa00;
$color-yellow-1: #ffff00;
$color-red-1: #b43049;
$color-red-2: #eb3659;
$color-red-3: #ffeaed;
$color-gray-1: #677488;
$color-gray-2: #a4adbb;
$color-gray-3: #e9ebee;
$color-gray-4: #d8e5ff;
$color-gray-5: #eaeeff;
$color-gray-6: #e3f3f7;
$color-gray-7: #ffffff;
