$colors: ("blue":
(
  1: $color-blue-1,
  2: $color-blue-2,
  3: $color-blue-3,
  4: $color-blue-4,
  5: $color-blue-5,
  6: $color-blue-6,
  7: $color-blue-7,
  8: $color-blue-8,
  9: $color-blue-9,
),
  "orange": (1: $color-orange-1),
  "yellow": (1: $color-yellow-1),
  "gray": (
    1: $color-gray-1,
    2: $color-gray-2,
    3: $color-gray-3,
    4: $color-gray-4,
    5: $color-gray-5,
    6: $color-gray-6,
    7: $color-gray-7,
  ),
  "black": (1: $color-black-1),
  "red": (
    1: $color-red-1,
    2: $color-red-2,
    3: $color-red-3,
  )
);

// generate a border-color, text, and background classes according to earch color in $colors
@each $colorType, $variants in $colors {
  @each $variant, $color in $variants {
    $colorVariant: '-' + $variant;
    @if($variant == 1) {
      // if it's first color variant the class will be ej: text-color-blue
      $colorVariant: ''
    }
    .text-color-#{$colorType}#{$colorVariant} {
      color: $color !important;
    }

    .background-color-#{$colorType}#{$colorVariant} {
      background-color: $color !important;
    }

    .border-color-#{$colorType}#{$colorVariant} {
      border-color: $color !important;
    }
  }
}
