
// generate a border-color, text, and background classes according to earch color in $colors
@each $colorType, $variants in $colors {
  @each $variant, $color in $variants {
    $colorVariant: '-' + $variant;
    @if($variant == 1) {
      // if it's first color variant the class will be ej: text-color-blue
      $colorVariant: ''
    }
    .text-color-#{$colorType}#{$colorVariant} {
      color: $color !important;
    }

    .background-color-#{$colorType}#{$colorVariant} {
      background-color: $color !important;
    }

    .border-color-#{$colorType}#{$colorVariant} {
      border-color: $color !important;
    }
  }
}

.text-color-success {
  color: $color-blue-3;
}

.text-color-info {
  color: $color-blue-5;
}

.text-color-danger {
  color: $color-red-1;
}

.text-color-disabled {
  color: $color-gray-1;
}


