@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes VerticalUpSlide {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


html, body {
  background-color: $color-gray-7;
  height: 100%;
  margin: 0;
  padding: 0;
}

input[type=checkbox] {
  display: inline-block;
  position: relative;
  transform: scale(1.7);
}

input[type=text], input[type=password], input[type=number] {
  border-width: 0 0 1px 0;
  border-color: $color-gray-2;
  color: $color-gray-1;
  font-size: .85rem;
  margin: 0;
  padding: 0.5rem;
  width: 100%;

  &:focus {
    outline: unset;
    border-color: #2196f3;
  }
}

a {
  text-decoration: none;
  font-weight: $font-weight-5;
  color: $color-blue-4;
}


label {
  color: $color-gray-1 !important;
  font-size: $font-size-2 !important;
  font-weight: 300;
}
