
@keyframes ErrorAppearing {
  from {
    z-index: -1;
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    z-index: 9;

  }
}

.error-message-text {
  font-weight: $font-weight-5;
  color: $color-red-2;
  animation: .3s ErrorAppearing;
}
.error-message {
  position: relative;
  margin: 0;
  bottom: 0;
}
.error-message::after {
  content: attr(data-error-message);
  @extend .error-message-text;
  position: absolute;
  top: 5px;
  left: 0;
  background-color: #fff;
  z-index: 9;

}

.control-error input, .control-error button {
  border-color: $color-red-2 !important;
}

.control-error .pi {
  color: $color-red-2 !important;
}
