.p-listbox {
  border: unset;
  .p-listbox-list-wrapper {
    .p-listbox-item {
      border-radius: 5px;

      &:focus, &.p-highlight {
        background-color: $color-blue-8 !important;
        box-shadow: unset !important;

        span {
          font-weight: 600 !important;
          color: $color-blue-5 !important;
        }
      }
    }
  }
  .p-listbox-header {
    padding: 0;
    background: unset;
  }
  .p-listbox-filter-container {
    margin-bottom: 10px;

    .p-listbox-filter {
      padding-right: unset !important;
      padding-left: 1.5rem !important;
    }

    .p-listbox-filter-icon {
      right: unset !important;
      left: 0 !important;
      color: $color-blue-5;
      font-weight: bolder;
      font-size: 13px;
    }
  }
}
