.p-tabview {
  .p-tabview-nav {
    border: unset !important;
  }

  .p-tabview-nav-link {
    font-weight: $font-weight-3 !important;
    border: none !important;
    color: $color-black-1 !important;
    padding-left: 0 !important;
    padding-right: 50px !important;

    .p-tabview-title {
      font-size: $font-size-4;
    }
  }
  .p-tabview-nav-link:focus {
    box-shadow: unset !important;
  }
  li.p-highlight	{
    position: relative;
    .p-tabview-nav-link {
      font-weight:$font-weight-7 !important;
      border: none !important;
      .p-tabview-title {
        color: $color-blue-1 !important;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      height: 5px;
      width: 40%;
      background-color: $color-orange-1;
      z-index: 1;
    }
  }
  &.bordered-bottom {
    .p-tabview-nav {
        border-bottom: 2px solid $color-gray-10 !important;
      padding-bottom: 4px !important;
    }
  }
}
