.p-accordion {
  .p-accordion-tab {
    .p-accordion-header {
      &:hover {
        .p-accordion-header-link {
          background: #fff !important;
        }
      }
      .p-accordion-header-link {
        background: #fff;
        border: unset;
        border-bottom: 1px solid #efefef;
        align-items: start;
        border-radius: 0;
        padding: 2rem 0;
        &:focus {
          box-shadow: unset;
        }
        .p-accordion-toggle-icon {
          font-size: .7rem;
        }
      }
    }
    .p-accordion-content {
      border: unset;
    }
  }

  .disable-expand {
    .p-accordion-toggle-icon {
      visibility: hidden;
    }
    .p-toggleable-content {
      display: none;
    }
  }

  &.small {
    .p-accordion-tab {
      .p-accordion-header {
        &.p-highlight {
          .p-accordion-header-link {
            background: unset;
          }
        }
        &:hover {
          .p-accordion-header-link {
            background: unset !important;
          }
        }
        .p-accordion-header-link {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          border: unset;
          font-weight: 400;
          padding:20px 0;
        }
        .p-accordion-toggle-icon {
          margin-top: 4px;
        }
      }

      .p-accordion-content {
        padding: 0;
      }
    }
  }
}
