<div class="user-cmp spaced-container">
  <div class="user-cmp-header d-flex justify-content-between align-items-center">
    <span class="app-title" @fade>Users</span>
    <ts-button value="New"
               icon="add"
               (click)="createContactDialogIsVisible = true">
    </ts-button>
  </div>
  <div class="row mt-5">
    <div
      class="d-flex justify-content-between align-items-center flex-wrap flex-lg-nowrap user-filtering-container mb-4">
      <p-tabView styleClass="user-tab w-100" (onChange)="changeUserType($event)" @fade>
        <p-tabPanel header="Texters">
        </p-tabPanel>
        <p-tabPanel header="Administrators" [selected]="enableUserAdminList">
        </p-tabPanel>
      </p-tabView>
      <ts-list-filters
        *ngIf="!enableUserAdminList"
        class="user-filters flex-lg-nowrap m-lg-0"
        [dataToFilter]="users"
        (onFilterData)="setUsersFilteredData($event)"
        [sortByProperties]="sortByProperties"
        searchWrapperClass="ms-lg-5 ms-3 order-2"
        filtersWrapperClass="user-filter-actions flex-lg-nowrap"
        actionsClass="me-lg-5">
      </ts-list-filters>
    </div>
  </div>
  <div class="row user-cmp-body">
    <ts-list [data]="filteredUsers" (click)="goToUserProfile($event)" [pointer]="true">
      <ng-template #listItem let-user>
        <div class="d-flex align-items-center">
          <p-avatar shape="circle"
                    pBadge severity="info"
                    [image]="user.profileImg">
          </p-avatar>
          <div class="ms-3 cursor-pointer highlight-hover" >
            <span class="font-weight-5">
                {{user.firstName }} {{ user.lastName }}
            </span>
              <span class="d-block" *ngIf="enableUserAdminList">
              {{user.role}}
            </span>
          </div>
        </div>
        <span class="d-flex">
          <ts-button-label type="success" value="Active" *ngIf="!enableUserAdminList; else accounts"></ts-button-label>
          <ng-template #accounts>
            <span class="font-size-1-2 text-color-gray">{{user.role === 'Owner' ? 'All Accounts' : 'Acme Alliance, Umbrella Campaign'}}</span>
          </ng-template>
        </span>
        <span style="width: 500px"
              class="d-flex text-color-gray-2  align-items-center justify-content-end cursor-pointer light-hover"
        (click)="goToUserMessage(user)">
         <ts-icon type="messages-icon" label="Messages" color="blue-5"></ts-icon>
        </span>
      </ng-template>
    </ts-list>
  </div>
</div>

<p-dialog [modal]="true" header="Edit Contact" [(visible)]="createContactDialogIsVisible"
          [breakpoints]="{'960px': '75vw'}"
          [style]="{width: '400px'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <ng-template pTemplate="content">
    <form #createUserContainer
          [formGroup]="createUserForm"
          (ngSubmit)="createUser()"
          [generateAndErrorHandlingReactiveForm]="createUserForm"
          [container]="createUserContainer">
      <div class="row mb-4 mt-3">
        <div class="col-12 col-md-6">
          <label for="firstName">First Name</label>
          <input required minlength="3" type="text" formControlName="firstName" id="firstName">
        </div>
        <div class="col-12 col-md-6">
          <label for="lastName">Last Name</label>
          <input required minlength="3" type="text" formControlName="lastName" id="lastName">
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12 col-md-6">
          <label for="phone">Phone Number</label>
          <p-inputMask minlength="14" required mask="(999) 999-9999" formControlName="phone" id="phone"></p-inputMask>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12">
          <label for="email">Email</label>
          <input required email type="text" formControlName="email" id="email">
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-12">
          <p-radioButton label="Texter" [value]="2" formControlName="role" class="me-5"></p-radioButton>
          <p-radioButton label="Administrator" [value]="1" formControlName="role"></p-radioButton>
        </div>
      </div>
      <input type="submit" value="klk" class="d-none">
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="d-flex justify-content-end">
      <ts-button [disabled]="!createUserForm.valid" type="submit" value="Send Invitation" (click)="createUser()"></ts-button>
    </div>
  </ng-template>
</p-dialog>

