@import "../../../../styles/colors-variables";

.campaign-texters-cmp-section {
  margin-bottom: 100px !important;
}
::ng-deep {
  .list-cmp-item-container {
    .p-dropdown-label {
      color: $color-blue-5 !important;
    }
  }

}

.campaign-texters-cmp-avatar-cell {
  ::ng-deep {
    .p-avatar {
      padding: .3rem;
    }
  }

}
