<div class="my-5 d-flex flex-column">
  <span class="app-upper-subtitle">Va Dems</span>
  <div class="app-title mb-4">Justin Case for Governor 2021</div>
</div>
<div class="col-12 pb-5">
  <div class="row campaign-texters-cmp-section">
    <h5 class="mb-4 app-subtitle" @fade>Select Texters</h5>
    <ts-list-filters
      [dataToFilter]="texters"
      (onFilterData)="setFilteredTexters($event)"
      [sortByProperties]="sortByProperties"
    ></ts-list-filters>
    <p-table [value]="filteredTexters"
             styleClass="p-datatable-sm"
             (onRowSelect)="getInitialTextsDivision()"
             (onRowUnselect)="getInitialTextsDivision()"
             [(selection)]="textersSelected"
             [@fadeListAnimation]="filteredTexters.length">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 2rem">
          </th>
          <th>Name</th>
          <th>Status</th>
          <th>Active Assigmments</th>
          <th>Request</th>
          <th> <div class="d-flex justify-content-end">Request Time </div></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-texter>
        <tr>
          <td>
            <p-tableCheckbox [value]="texter"></p-tableCheckbox>
          </td>
          <td class="campaign-texters-cmp-avatar-cell">
            <div class="d-flex align-items-center">
              <p-avatar [image]="texter.profileImg" size="large" styleClass="small-avatar" shape="circle"></p-avatar>
              <span class="ms-2 font-size-3"> {{texter.firstName}} {{texter.lastName}} </span>
            </div>
          </td>
          <td>
            <ts-button-label
              type="danger"
              [value]="'Assigment Request'">
            </ts-button-label>
          </td>
          <td class="font-size-2 text-color-gray">{{texter.hasAssignments}} / 1 campaign</td>
          <td class="font-size-2 text-color-blue-2 font-weight-5">{{ texter.request }}</td>
          <td>
            <div class="d-flex flex-column align-items-end text-color-gray font-size-2">
              <span>
                {{ texter.requestTime | date }}
              </span>
              <span>
                {{ texter.requestTime | date: 'hh:mm a' }}
              </span>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <span class="error-message ms-3 mt-2"
          *ngIf="showErrorMessage && !textersSelected.length" data-error-message="Must select at least 1 texter.">
    </span>
  </div>

  <div class="row mb-4">
    <h4 class="app-subtitle">Assignments</h4>
    <ts-list [data]="textersSelected">
      <ng-template #listItem let-texter let-index="index">
        <span> {{texter.firstName}} {{ texter.lastName }}</span>
        <div>
          <span>
            <span class="text-color-blue-5 font-weight-6 font-size-3"
                  *ngIf="initialTextInput.classList.contains('d-none');"
                  (click)="initialTextInput.classList.remove('d-none')">
              {{ assignmentQuantityDivided[index] }}
            </span>
            <input #initialTextInput type="text"
                   class="campaign-texter-cmp-input-initial-text d-none font-size-3"
                   [(ngModel)]="assignmentQuantityDivided[index]"
                   (keyup)="onKeyUpInitialText($event, index)"
                   (keyup.enter)="initialTextInput.classList.add('d-none');"
                   (blur)="initialTextInput.classList.add('d-none');">
            <span class="font-size-3">initial texts</span>
          </span>
        </div>
        <div class="d-flex align-items-center p-2">
          <p-checkbox [inputId]="'txter-check-' + index" #checkbox binary="true"
                      [ngModel]="true"></p-checkbox>
          <label [for]="'txter-check-' + index" class="ms-2 cursor-pointer text-color-blue">Assign replies</label>
        </div>
        <div>
          <ts-dropdown *ngIf="!checkbox.checked" label="Assign replies to:"
                       [data]="textersSelected | concatValuesPipe: [{ firstName: 'Unassigned'}] : 'unshift'"
                       optionLabel="firstName"
          ></ts-dropdown>
        </div>
      </ng-template>
    </ts-list>
    <p *ngIf="unassignedTexts && unassignedTexts !== campaignContacts" class="d-flex justify-content-end font-weight-5 font-size-2 mt-3">{{ unassignedTexts }} unassigned texts</p>
    <p *ngIf="!textersSelected || !textersSelected.length" class="font-size-4">No assignments yet</p>
  </div>
  <div class="row mb-5" *ngIf="textersSelected.length">
    <div class="d-flex align-items-center">
      <p-checkbox #selftAssignmentCkb label="Allow Self-Assignment" class="me-5" labelStyleClass="font-size-3 text-color-blue"></p-checkbox>
      <p-checkbox *ngIf="selftAssignmentCkb.checked" label="Auto-Approve" labelStyleClass="font-size-3 text-color-blue"></p-checkbox>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <ts-button type="submit" value="Save and Continue" [disabled]="showErrorMessage" (click)="next()"></ts-button>
  </div>
</div>
