<div class="my-5 d-flex flex-column">
  <b>Va Dems</b>
  <h1>Justin Case for Governor 2021</h1>
</div>
<div class="col-12 pb-5" (keyup.enter)="next()">

  <div class="my-4">
    <span class="subtitle">Select Phone Numbers</span>
    <p>{{minPhoneNumbersQuantity}} required</p>
  </div>
  <div class="row campaign-texters-cmp-section">
    <ts-list-filters
      [dataToFilter]="phoneNumbers"
      (filterData)="setFilteredPhoneNumbers($event)"
    ></ts-list-filters>
    <p-table [value]="filteredPhoneNumbers"
             styleClass="p-datatable-sm p-table-responsive"
             [(selection)]="phoneNumbersSelected"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
          </th>
          <th>Phone Number</th>
          <th>Location</th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-phoneNumber>
        <tr>
          <td>
            <p-tableCheckbox [value]="phoneNumber"></p-tableCheckbox>
          </td>
          <td>{{phoneNumber.phone}}</td>
          <td class="text-color-gray-2">{{phoneNumber.location}}</td>
          <td></td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
    <span class="error-message-text mt-2"
          *ngIf="showErrorMessage && phoneNumbersSelected.length < minPhoneNumbersQuantity">
           Please select at least {{minPhoneNumbersQuantity}} numbers to proceed.
    </span>
  </div>

  <div class="row campaign-texters-cmp-section">
    <h4 class="subtitle">Select Texters</h4>
    <ts-list-filters
      [dataToFilter]="texters"
      (filterData)="setFilteredTexters($event)"
      [sortByProperties]="sortByProperties"
    ></ts-list-filters>
    <p-table [value]="filteredTexters"
             styleClass="p-datatable-sm"
             (onRowSelect)="getInitialTextsDivision()"
             (onRowUnselect)="getInitialTextsDivision()"
             [(selection)]="textersSelected">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
          </th>
          <th>Name</th>
          <th></th>
          <th>Status</th>
          <th></th>
          <th>Assigned</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-texter>
        <tr>
          <td>
            <p-tableCheckbox [value]="texter"></p-tableCheckbox>
          </td>
          <td class="campaign-texters-cmp-avatar-cell">
            <div class="d-flex align-items-center">
              <p-avatar [image]="texter.profileImg" size="large" shape="circle"></p-avatar>
              <span class="ms-2"> {{texter.firstName}} {{texter.lastName}} </span>
            </div>
          </td>
          <td></td>
          <td>
            <ts-button-label
            type="danger"
            [value]="'Assigment Request'">
            </ts-button-label>
          </td>
          <td></td>
          <td>{{texter.hasAssignments}} / 1 campaign</td>
        </tr>
      </ng-template>
    </p-table>
    <span class="error-message ms-3 mt-2"
          *ngIf="showErrorMessage && !textersSelected.length" data-error-message="Must select at least 1 texter.">
    </span>
  </div>

  <div class="row mb-5">
    <h4 class="subtitle">Assignments</h4>
    <ts-list [data]="textersSelected">
      <ng-template #listItem let-texter let-index="index">
        <span> {{texter.firstName}} {{ texter.lastName }}</span>
        <div>
          <span class="text-color-blue-5 font-weight-6">{{ assignmentQuantityDivided[index] }}</span> initial texts
        </div>
        <div class="d-flex align-items-center p-2">
          <p-checkbox [inputId]="'txter-check-' + index" #checkbox binary="true" [ngModel]="true"></p-checkbox>
          <label [for]="'txter-check-' + index" class="ms-2 cursor-pointer">Assign replies</label>
        </div>
        <div>
          <ts-dropdown *ngIf="!checkbox.checked" label="Assign replies to:" [data]="textersSelected | concatValuesPipe: [{ firstName: 'Unassigned'}] : 'unshift'" optionLabel="firstName"></ts-dropdown>
        </div>
      </ng-template>
    </ts-list>
    <p *ngIf="!textersSelected || !textersSelected.length">No assignments yet</p>
  </div>
  <div class="d-flex align-items-center">
    <ts-button  type="submit" value="Save and Continue" [disabled]="showErrorMessage" (click)="next()"></ts-button>
  </div>
</div>
