<div class="my-5 d-flex flex-column">
  <b>Va Dems</b>
  <h1>Justin Case for Governor 2021</h1>
</div>
<div class="col-12">
  <div class="d-flex justify-content-between my-4">
    <h4 class="subtitle">Select Contact List</h4>
    <ts-button value="New"
               icon="add"
               (click)="goToCreateContactList()"
               [customIconSize]="{
                               width: '20px',
                               height: '22px',
                               viewBox: '0 0 15 15'
                           }">
    </ts-button>
  </div>
  <div class="row">
    <ts-list-filters
      [dataToFilter]="contactsList"
      (filterData)="setFilteredCampaign($event)"
      [sortByProperties]="sortByProperties"
      searchField="name"
    ></ts-list-filters>
    <p-table [value]="filteredContactList" styleClass="p-datatable-sm">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th class="text-uppercase campaign-contact-list-cmp-table-header">List Name</th>
          <th></th>
          <th></th>
          <th class="text-uppercase campaign-contact-list-cmp-table-header">#Contacts</th>
          <th class="text-uppercase campaign-contact-list-cmp-table-header">Date Created</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-contactList>
        <tr>
          <td>
            <p-tableCheckbox [value]="contactList"></p-tableCheckbox>
          </td>
          <td><b>{{contactList.name}}</b></td>
          <td></td>
          <td></td>
          <td>{{contactList.contactsQuantity}}</td>
          <td>{{contactList.createdDate}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
