<nav class="side-nav-cmp-container">
    <ul class="side-nav-cmp">
        <li class="side-nav-cmp-item">
            <a
                href="javascript:void(0)"
                class="side-nav-cmp-link"
                [class.active]="dashboardActive"
                [routerLink]="['/main/dashboard']"
                routerLinkActive="active"
            >
                <i class="side-nav-cmp-link-icon icon-dashboard"></i>
                <div class="side-nav-cmp-link-text-container-wrapper">
                    <div class="side-nav-cmp-link-text-container">
                        <div class="side-nav-cmp-link-text-wrapper">
                            <span class="side-nav-cmp-link-text">Dashboard</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="side-nav-cmp-item">
            <a
                href="javascript:void(0)"
                class="side-nav-cmp-link"
                [class.active]="campaignActive"
                [routerLink]="['/main/campaign']"
                routerLinkActive="active"
            >
                <i class="side-nav-cmp-link-icon icon-campaign"></i>
                <div class="side-nav-cmp-link-text-container-wrapper">
                    <div class="side-nav-cmp-link-text-container">
                        <div class="side-nav-cmp-link-text-wrapper">
                            <span class="side-nav-cmp-link-text">Campaigns</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="side-nav-cmp-item">
            <a
                href="javascript:void(0)"
                class="side-nav-cmp-link"
                [class.active]="clientActive"
                [routerLink]="['/main/client']"
                routerLinkActive="active"
            >
                <i class="side-nav-cmp-link-icon icon-client"></i>
                <div class="side-nav-cmp-link-text-container-wrapper">
                    <div class="side-nav-cmp-link-text-container">
                        <div class="side-nav-cmp-link-text-wrapper">
                            <span class="side-nav-cmp-link-text">Clients</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="side-nav-cmp-item">
            <a
                href="javascript:void(0)"
                class="side-nav-cmp-link"
                [class.active]="messageActive"
                [routerLink]="['/main/message']"
                routerLinkActive="active"
            >
                <i class="side-nav-cmp-link-icon icon-message"></i>
                <div class="side-nav-cmp-link-text-container-wrapper">
                    <div class="side-nav-cmp-link-text-container">
                        <div class="side-nav-cmp-link-text-wrapper">
                            <span class="side-nav-cmp-link-text">Messages</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="side-nav-cmp-item">
            <a
                href="javascript:void(0)"
                class="side-nav-cmp-link"
                [class.active]="listActive"
                [routerLink]="['/main/list']"
                routerLinkActive="active"
            >
                <i class="side-nav-cmp-link-icon icon-list"></i>
                <div class="side-nav-cmp-link-text-container-wrapper">
                    <div class="side-nav-cmp-link-text-container">
                        <div class="side-nav-cmp-link-text-wrapper">
                            <span class="side-nav-cmp-link-text">Contact&nbsp;Lists</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="side-nav-cmp-item">
            <a
                href="javascript:void(0)"
                class="side-nav-cmp-link"
                [class.active]="userActive"
                [routerLink]="['/main/user']"
                routerLinkActive="active"
            >
                <i class="side-nav-cmp-link-icon icon-user"></i>
                <div class="side-nav-cmp-link-text-container-wrapper">
                    <div class="side-nav-cmp-link-text-container">
                        <div class="side-nav-cmp-link-text-wrapper">
                            <span class="side-nav-cmp-link-text">Users</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="side-nav-cmp-item">
            <a
                href="javascript:void(0)"
                class="side-nav-cmp-link"
                [class.active]="settingActive"
                [routerLink]="['/main/setting']"
                routerLinkActive="active"
            >
                <i class="side-nav-cmp-link-icon icon-setting"></i>
                <div class="side-nav-cmp-link-text-container-wrapper">
                    <div class="side-nav-cmp-link-text-container">
                        <div class="side-nav-cmp-link-text-wrapper">
                            <span class="side-nav-cmp-link-text">Settings</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</nav>