@import '../../../../styles/colors.scss';
@import '../../../../styles/text.scss';

.side-nav-cmp-container {
    display:block;
    max-height:100%;
    overflow:visible;

    .side-nav-cmp {
        display:block;
        list-style-type:none;
        margin:0;
        padding:2em 0 0;

        .side-nav-cmp-item {
            padding:0 0 3.5em;

            .side-nav-cmp-link {
                display:block;
                position:relative;
                text-align:center;

                .side-nav-cmp-link-icon {
                    display:inline-block;
                    height:36px;
                    margin:auto;
                    width:36px;
                }
            }
        }
    }
}

.side-nav-cmp-link-text-container-wrapper {
    background-color:transparent;
    display:none;
    left:100%;
    margin-top:-50%;
    position:absolute;
    top:50%;
    z-index:1;

    .side-nav-cmp-link-text-container {
        background-color:$color-gray-7;
        clip-path:polygon(20px 0%, 100% 0, 100% 100%, 20px 100%, 20px 75%, 0 50%, 20px 25%);
        height:64px;
        padding:4px 4px 4px 5px;

        .side-nav-cmp-link-text-wrapper {
            background-color:$color-blue-2;
            clip-path:polygon(20px 0%, 100% 0, 100% 100%, 20px 100%, 20px 75%, 0 50%, 20px 25%);
            height:100%;
            padding:0 16px 0 32px;

            .side-nav-cmp-link-text {
                color:$color-gray-7;
                display:inline-block;
                font-size:$font-size-4;
                font-weight:$font-weight-6;
                height:56px;
                line-height:56px;
                text-transform:uppercase;
            }
        }
    }
}

.side-nav-cmp-link:hover {
    .side-nav-cmp-link-text-container-wrapper {
        display:block;
    }
}

.icon-dashboard {
    background-image:url("/assets/home-inactive@1.5x.png");
}
.active .icon-dashboard {
    background-image:url("/assets/home-active@1.5x.png");
}
.icon-campaign {
    background-image:url("/assets/Campaigns-Inactive@1.5x.png");
}
.active .icon-campaign {
    background-image:url("/assets/Campaigns-Active@1.5x.png");
}
.icon-client {
    background-image:url("/assets/Clients-Inactive@1.5x.png");
}
.active .icon-client {
    background-image:url("/assets/Clients-Active@1.5x.png");
}
.icon-message {
    background-image:url("/assets/Messages-Inactive@1.5x.png");
}
.active .icon-message {
    background-image:url("/assets/Messages-Active@1.5x.png");
}
.icon-list {
    background-image:url("/assets/Lists-Inactive@1.5x.png");
}
.active .icon-list {
    background-image:url("/assets/Lists-Active@1.5x.png");
}
.icon-user {
    background-image:url("/assets/Users-Inactive@1.5x.png");
}
.active .icon-user {
    background-image:url("/assets/Users-Active@1.5x.png");
}
.icon-setting {
    background-image:url("/assets/Settings-Inactive@1.5x.png");
}
.active .icon-setting {
    background-image:url("/assets/Settings-Active@1.5x.png");
}
