@import '../../../../styles/colors-variables';
@import '../../../../styles/text-variables';
@import '../../../../styles/app-variables';


  .side-nav-cmp-container {
    display: block;
    overflow: visible;
    background-color: $color-blue-4;
    height: 100%;
    left: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    width: $side-nav-width;

    .side-nav-cmp {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 2em 0 0;

      .side-nav-cmp-item {
        padding: 0 0 3.5em;

        .side-nav-cmp-link {
          display: flex;
          justify-content: center;
          position: relative;

          .side-nav-cmp-link-icon {
            display: inline-block;
            height: 36px;
            margin: auto;
            width: 36px;
          }
        }
      }
    }
  }

  .side-nav-cmp-link-text-container-wrapper {
    background-color: transparent;
    display: none;
    left: 100%;
    margin-top: -50%;
    position: absolute;
    top: 50%;
    z-index: 1;

    .side-nav-cmp-link-text-container {
      background-color: $color-gray-7;
      clip-path: polygon(20px 0%, 100% 0, 100% 100%, 20px 100%, 20px 75%, 0 50%, 20px 25%);
      padding: 4px 4px 4px 5px;

      .side-nav-cmp-link-text-wrapper {
        align-items: center;
        background-color: $color-blue-1;
        clip-path: polygon(20px 0%, 100% 0, 100% 100%, 20px 100%, 20px 75%, 0 50%, 20px 25%);
        display: flex;
        padding: 16px 16px 16px 32px;

        .side-nav-cmp-link-text {
          color: $color-gray-7;
          display: inline-block;
          font-size: $font-size-3;
          font-weight: $font-weight-6;
          text-transform: uppercase;
        }
      }
    }
  }

  .side-nav-cmp-link:hover {
    .side-nav-cmp-link-text-container-wrapper {
      display: block;
    }
  }

