<div class="messenger-cmp d-flex position-relative">
  <div class="messenger-cmp-conversation-container position-relative w-100">
    <div #messengerConversation
         class="messenger-cmp-conversation w-100 pt-5 px-4 position-sticky pb-3 d-flex flex-column justify-content-between background-color-blue-8">
      <div #messagesContainer class="messenger-cmp-conversation-messages d-flex flex-column align-items-start">
        <ts-message
          text="Hi Mark, it's Joe from VA Dems! The 2021 election for Virginia's governor is just around the corner. Can we count on your vote for Justin Case?"
          transmitter="Joe Doe"
          class="messenger-cmp-conversation-message align-self-end">
        </ts-message>
        <ts-message type="incoming"
                    text="Yep, I'm planning on it!"
                    transmitter="Roussel Sprout"
                    class="messenger-cmp-conversation-message">
        </ts-message>
        <ts-message *ngFor="let message of messages"
                    [type]="message.type"
                    [text]="message.sms"
                    [transmitter]="message.transmitter"
                    class="messenger-cmp-conversation-message"
                    [class.align-self-end]="message.type === 'outgoing'"
                    [animationDelay]="messageDelay">
        </ts-message>
      </div>
      <div class="w-100 d-flex align-items-center"
           [@verticalSlide]="{ value:':enter', params: { initialOpacity: 0, yPosition: '50px' }}">
        <ts-text-box [rounded]="true" class="me-2 w-100" #textBoxMessage></ts-text-box>
        <ts-icon type="send-message" color="blue-2" class="cursor-pointer" (click)="sendMessage($event)"></ts-icon>
      </div>
    </div>
  </div>
  <div class="messenger-cmp-sidebar-options p-4 h-100"
       [@horizontalSlide]="{ value: ':enter', params: { xPosition: '300px' } }">
    <div class="border-bottom pb-3 mb-4">
      <span class="font-size-3 text-color-gray">VA Dems</span>
      <p class="font-weight-5 mb-4">Justin Case for Governor 2021</p>
      <p class="font-size-2 mb-2 font-weight-300 text-color-gray">Texting from</p>
      <p class="font-weight-300">(809) 555-1234</p>
    </div>

    <div class="border-bottom pb-3 mb-4">
      <p class="font-size-2 mb-2 font-weight-300 text-color-gray">Contact</p>
      <p class="font-weight-5 mb-2">Roussel Sprout</p>
      <p>(809) 555-1234</p>
    </div>

    <div class="border-bottom pb-3 mb-4">
      <p class="font-size-2 mb-4 font-weight-300 text-color-gray">Actions</p>
      <a href="javascript:;" class="mb-4 d-block" (click)="isReassignDialogOpen = true">Reassign Conversation</a>
      <a href="javascript:;" class="mb-4 d-block">Archive Conversation</a>
      <a href="javascript:;" class="mb-4 d-block">Opt Out</a>
    </div>

    <div class="pb-3 mb-4">
      <p class="font-size-2 mb-4 font-weight-300 text-color-gray">Scripts</p>
      <p-accordion [multiple]="true" styleClass="small">
        <p-accordionTab header="Yes, Willl vote for Justin Case">
          <span class="text-color-blue-5 font-weight-5 d-flex cursor-pointer" (click)="onSelectScript($event)">
            <ts-icon type="select-script" color="blue-5" wrapperClass="me-1 select-script-icon"></ts-icon>
            Great thanks for participating in democracy!
          </span>
        </p-accordionTab>
        <p-accordionTab header="Nop, I won't vote for Justin Case">
          <span class="text-color-blue-5 font-weight-5 d-flex cursor-pointer" (click)="onSelectScript($event)">
            <ts-icon type="select-script" color="blue-5" wrapperClass="me-1 select-script-icon"></ts-icon>
            Great, the democracy is for all of us!
          </span>
        </p-accordionTab>
        <p-accordionTab header="Who is Justin Case?">
          <span class="text-color-blue-5 font-weight-5 d-flex cursor-pointer" (click)="onSelectScript($event)">
            <ts-icon type="select-script" color="blue-5" wrapperClass="me-1 select-script-icon"></ts-icon>
            Is our candidate for Governor in Virginia
          </span>
        </p-accordionTab>
      </p-accordion>
    </div>

    <p-dialog [modal]="true" header="Reassign Conversation?" [(visible)]="isReassignDialogOpen"
              [breakpoints]="{'960px': '75vw'}"
              [style]="{width: '25vw'}"
              [draggable]="false" [resizable]="false">
      <div>
        <p class="font-weight-3">
          Are you sure you want to reassign this conversation to another texter?
        </p>
        <span class="text-color-blue-5 font-weight-6 cursor-pointer">Select Texter</span>
      </div>
      <ng-template pTemplate="footer">
        <div class="d-flex w-100">
          <ts-button value="Confirm" class="me-3" (click)="reassignConversation()"></ts-button>
          <ts-button mode="secondary" value="Cancel" (click)="isReassignDialogOpen = false"></ts-button>
        </div>
      </ng-template>
    </p-dialog>
  </div>
