@import "~src/styles/app-variables";
@import "~src/styles/colors-variables";

.messenger-cmp {
  position: relative;
  height: 100%;

  .messenger-cmp-conversation-container {
    .messenger-cmp-conversation {
      top: 0;
      height: calc(100vh - 65px);
      background-color: #f3f6fb;

      .messenger-cmp-conversation-messages {
        overflow: scroll;
        &::-webkit-scrollbar {
          width: 0;
        }
      }

      .messenger-cmp-conversation-message {
        margin-bottom: 2rem;
        max-width: 50%;
      }
    }
  }

  .messenger-cmp-sidebar-options {
    position: sticky;
    top:0;
    width: 30%;
    border-left: 1px solid $color-gray-3;
  }
  ::ng-deep {
    .select-script-icon {
      padding: 5px !important;
    }

    .messenger-cmp-texter-avatar {
      padding: 3px;
    }
  }

}
