@import '~src/styles/colors-variables';
@import '~src/styles/text-variables';

.client-dashboard-container {
  .client-dashboard-metrics {
    display:grid;
    justify-content:space-between;
    grid-template-columns: repeat(auto-fit, minmax(235px, 2fr));
    grid-auto-rows: 130px;
    gap: 21px;

    .client-dashboard-metrics-container {
      height: 100%;
    }
  }

  .client-dashboard-campaigns {
    padding-top:60px;

  }
}
