@import '../../../../styles/colors.scss';

.login-container {
    margin:auto;
    width:480px;

    h1 {
        font-size:2.1rem;
        font-weight:400;
        padding-bottom:1rem;
    }

    label {
        color:$color-gray-1;
        font-size:0.8rem;
    }

    input[type=text],
    input[type=email],
    input[type=password] {
        border-width:0 0 1px 0;
        color:$color-gray-1;
        font-family: "Lexend", sans-serif;
        font-size:0.8rem;
        margin:0;
        padding:0.5rem;
        width:100%;
    }

    .p-field {
        padding:1.5rem 0;
        position:relative;

        .error-wrapper {
            bottom:0;
            position:absolute;

            .error {
                color:$color-red-2;
                font-size:0.8rem;
            }
        }
    }
}

/*
.login-container {
    display: flex;
    flex-direction: column;
    background-color: $colorAccent6;
    width: 20rem;
    padding: 2rem;
    box-shadow: 0 0 4rem 0.1rem #E4E8ED;
    align-items: center;
    
    img {
        margin-bottom: 1rem;
    }

    .p-field {
        margin: 0.5rem 0;
        width: 100%;

        label {
            font-weight: 600;
            margin: 0;
        }    

        .text {
            width: 100%;
        }

        .label-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 0.3rem;

            .link {
                cursor: pointer;
                color: $colorAccent1;
                font-weight: 600;
                font-size: 0.8rem;
            }    
        }

    }

    .button {
        color: $colorAccent6;
        background-color: $colorPrimary;
        border-color: $colorPrimary;
        padding: 0.5rem 2.5rem;
        margin-top: 1rem;

        &:focus {
            // border-color: ;
        }
    }
}

@media (min-width: 410px) {
    .login-container {
        width: 25rem;
        padding: 4rem;

        img {
            margin-bottom: 2rem;
        }
    }
    
}
*/
