@import '../../../../styles/colors.scss';

.login-container {
    margin:auto;
    width:480px;

    h1 {
        font-size:2.1rem;
        font-weight:400;
        padding-bottom:1rem;
    }

    label {
        color:$color-gray-1;
        font-size:0.8rem;
    }

    .link {
        color:$color-blue-5;
        cursor:pointer;
        font-size:0.8rem;
        font-weight:600;
    }

    .link:hover {
        text-decoration:underline;
    }

    input[type=text],
    input[type=email],
    input[type=password] {
        border-width:0 0 1px 0;
        color:$color-gray-1;
        font-family: "Lexend", sans-serif;
        font-size:0.8rem;
        margin:0;
        padding:0.5rem;
        width:100%;
    }

    input[type=checkbox] {
        display:inline-block;
        margin-right:0.5rem;
        position:relative;
        top:0.15rem;
    }

    .p-field {
        padding:1.5rem 0;
        position:relative;

        .error-wrapper {
            bottom:0;
            position:absolute;

            .error {
                color:$color-red-2;
                font-size:0.8rem;
            }
        }
    }

    .p-field.flex {
        display:flex;
        justify-content:space-between;
    }
}

input[type=button].button,
input[type=submit].button,
input[type=reset].button {
    background-color:$color-blue-5;
    border-radius:1.5rem;
    color:$color-gray-5;
    cursor:pointer;
    display:inline-block;
    font-size:0.9rem;
    padding:0.25rem 1.75rem;
}
