<form class="form p-4" [formGroup]="form" (ngSubmit)="submitForm()" [generateAndErrorHandlingReactiveForm]="form" @fade>
    <div class="login-container">
      <h1 class="header-1">Login</h1>
      <div class="p-field">
        <ts-text-box
          ngDefaultControl
          #email
          formControlName="email"
          type="email"
          label="Email"
          email
          required
        ></ts-text-box>
      </div>
      <div class="p-field">
        <ts-text-box
          ngDefaultControl
          #password
          formControlName="password"
          type="password"
          label="Password"
          required
          minlength="4"
        ></ts-text-box>
      </div>
      <div class="p-field flex-full flex-wrap">
        <div class="">
            <input
              type="checkbox"
              formControlName="remember"
              name="remember"
              id="remember"
              class="me-2"
              #remember
            />
          <label for="remember" arial-label="Remember me" class="label-1">Remember me</label>
        </div>
        <div class="">
            <span class="link-1" (click)="goToResetPassword()">Forgot Password?</span>
        </div>
      </div>
      <div class="p-field">
        <ts-button
          value="Sign In"
          type="button"
          class="button-1"
          [disabled]="(loading$ | async) || form.invalid"
          (click)="submitForm()"
        ></ts-button>
      </div>
    </div>
  </form>
