<form class="form" [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="login-container">
      <h1 class="header-1">Login</h1>
      <div class="p-field">
        <ts-text-box
          #email
          [form]="form"
          id="email"
          type="email"
          label="Email"
          required
        ></ts-text-box>
      </div>
      <div class="p-field">
        <ts-text-box
          #password
          [form]="form"
          id="password"
          type="password"
          label="Password"
          required
        ></ts-text-box>
      </div>
      <div class="p-field flex-full">
        <div class="">
            <input
              type="checkbox"
              id="remember"
              name="remember"
              formControlName="remember"
              #remember
            />
          <label for="remember" arial-label="Remember me" class="label-1">Remember me</label>
        </div>
        <div class="">
            <span class="link-1" (click)="goToResetPassword()">Forgot Password?</span>
        </div>
      </div>
      <div class="p-field">
        <ts-button
          value="Sign In"
          type="button"
          class="button-1"
          [disabled]="form.invalid"
          (click)="submitForm()"
        ></ts-button>
      </div>
    </div>
  </form>
  