<div class="unary-metric-box-cmp-container">
    <section class="unary-metric-box-cmp" [ngClass]="class">
        <header class="unary-metric-box-cmp-title-container">
            <span class="unary-metric-box-cmp-title">{{ title }}</span>
        </header>
        <div class="unary-metric-box-cmp-value-container">
            <div class="unary-metric-box-cmp-value">
                <span class="unary-metric-box-cmp-value-text">{{ value }}</span>
            </div>
        </div>
    </section>
</div>
