@import '../../../../styles/colors.scss';
@import '../../../../styles/text.scss';

.main-container {
    display:block;
    height:100%;
    position:relative;

    .side-nav-container {
        background-color:$color-blue-2;
        height:100%;
        left:0;
        overflow:visible;
        position:absolute;
        top:0;
        width:80px;
    }

    .content {
        background-color:#cccccc;       // TEMPORARY TO TEST NAV HOVER STATE

        left:80px;
        min-height:100%;
        overflow:auto;
        position:relative;
        top:0;
    }
}
