@import '../../../../styles/colors.scss';
@import '../../../../styles/text.scss';

.main-container {
    display:block;
    height:100%;
    position:relative;

    .side-nav-container {
        background-color:$color-blue-2;
        height:100%;
        left:0;
        overflow:visible;
        position:absolute;
        top:0;
        width:80px;
    }

    .content {
        margin-left:80px;
        min-height:100%;
        overflow:auto;
        position:relative;
        top:0;
    }

    .top-bar-container {
        border-bottom:2px solid $color-gray-3;
        height:80px;
        left:0;
        position:relative;
        top:0;
    }
}
