@import '../../../../styles/colors.scss';
@import '../../../../styles/text.scss';

.button-label-cmp-container {
    display:inline-block;

    .button-label-cmp {
        border-radius:.5rem;
        margin:0 12px 12px 0;
        padding:12px 20px;

        .button-label-cmp-text {
            font-size:$font-size-3;
            font-weight:$font-weight-6;
            white-space:nowrap;
        }
    }
}

.button-label-cmp.unassigned-contacts {
    background-color:#ffeeee;

    .button-label-cmp-text {
        color:#990000;
    }
}

.button-label-cmp.in-progress {
    background-color:#eeeeff;

    .button-label-cmp-text {
        color:#000099;
    }
}

.button-label-cmp.not-started {
    background-color:$color-gray-3;

    .button-label-cmp-text {
        color:#555555;
    }
}

.button-label-cmp.completed {
  background-color: $color-blue-9;

  .button-label-cmp-text {
    color:$color-blue-3;
  }
}
