@import '../../../../styles/colors-variables';
@import '../../../../styles/text-variables';

.button-label-cmp-container {
    display:inline-block;

    .button-label-cmp {
        border-radius:.3rem;
        padding: 10px 15px;
        display: flex;
        align-items: center;

        .button-label-cmp-text {
            font-size:$font-size-1;
            font-weight:$font-weight-6;
            white-space:nowrap;
        }
    }
}
