@import "../../../../../../styles/colors-variables";

::ng-deep {
  .p-tabview-panels {
    padding: 0 !important;
  }

  .list-cmp-item-container {
    padding-left: 0 !important;
  }

  .campaign-view-cmp-message-column {
    width: 60% !important;
  }
}

.campaign-view-dashboard-cmp-container {
  max-height: 450px;
  .campaign-view-dashboard-cmp-budget-card {
    padding: 15px;
    border-radius: 20px;
    background-color: $color-blue-4;
    margin-right: 50px;
    width: 55%;
  }
  .campaign-view-dashboard-cmp-analytics {
    width: 40%;
  }

  .budget-details {
    height: 290px;
    justify-content: space-between;
    width: 35%;
  }

  .donut-chart-container {
    width: 60%;
  }
}
