@import '../../../../styles/colors-variables';
@import '../../../../styles/text-variables';

.text-box-cmp-container {
    position: relative;
    width: 100%;
    .text-box-cmp {
        border-width: 0 0 1px 0;
        border-color: $color-gray-9;
        color: $color-black-2;
        font-size: $font-size-4;
        margin: 0;
        padding: 0.5rem;
        width: 100%;
      &:focus {
        outline: unset;
        border-color: #2196f3;
      }
    }
    .text-box-cmp-input-rounded {
      border: 1px solid $color-gray-2;
      border-radius: 2rem;
    }

  .text-box-cmp-error-wrapper {
        bottom:0;
        position:absolute;

        .text-box-cmp-error {
            color:$color-red-2;
            font-size:$font-size-2;
        }
    }

  .text-box-cmp-icon {
    position: absolute;
    bottom: 4px;
    display: inline-block;
    height: 23px;
    margin: auto;
    width: 27px;
    background-repeat: no-repeat;
    & ~ input {
      padding-left: 20px;
    }
  }
}
