<div class="text-box-cmp-container">
    <div class="text-box-cmp-label-wrapper" *ngIf="label">
        <label [for]="id" class="text-box-cmp-label" [ngClass]="labelClass">{{ label }}</label>
    </div>
    <ts-icon *ngIf="icon" class="text-box-cmp-icon" [type]="icon" [color]="iconColor"></ts-icon>
    <input
      [placeholder]="placeholder"
      [type]="type"
      [id]="id"
      [name]="name"
      (input)="onInput($event)"
      [min]="min"
      [max]="max"
      [pattern]="pattern"
      [required]="required"
      class="text-box-cmp {{ class }}"
      [defaultValue]="defaultValue"
    />
</div>
