@import './styles/colors.scss';
@import './styles/text.scss';
// overwritten primeng tab styles
@import './styles/primeng-tab.scss';
// overwritten primeng steps styles
@import './styles/primeng-steps.scss';
@import "~bootstrap/scss/bootstrap";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css";

html, body {
    background-color:$color-gray-7;
    height:100%;
    margin:0;
    padding:0;
}
.header-1 {
    font-size:$font-size-8;
    font-weight:$font-weight-4;
    padding-bottom:1rem;
}
.label-1 {
    color:$color-gray-1;
    font-size:$font-size-2;
}
.label-2 {
    color:$color-gray-1;
    font-size:$font-size-3;
}
.link-1 {
    color:$color-blue-5;
    cursor:pointer;
    font-size:$font-size-2;
    font-weight:$font-weight-6;
}
.link-1:hover,
.link-2:hover,
.link-3:hover {
    text-decoration:underline;
}
input.text {
    border-width:0 0 1px 0;
    color:$color-gray-1;
    font-family:"Lexend", sans-serif;
    font-size:$font-size-2;
    margin:0;
    padding:0.5rem;
    width:100%;
}
input[type=checkbox] {
    display:inline-block;
    margin-right:0.5rem;
    position:relative;
    top:0.15rem;
}
.p-field {
    padding:1.5rem 0;
    position:relative;

    .error-wrapper {
        bottom:0;
        position:absolute;

        .error {
            color:$color-red-2;
            font-size:$font-size-2;
        }
    }
}
.p-field.flex-full {
    display:flex;
    justify-content:space-between;
}
.disable-box-shadow {
  box-shadow: unset !important;
}
.p-autocomplete-input {
  border: none;
  border-bottom: 1px solid $color-gray-1;
  border-radius: 0;
}

.p-autocomplete-input:focus {
  @extend .disable-box-shadow;
}

// overwritting all primeng inputs
input.p-inputtext {
  border: none;
  border-bottom: 1px solid $color-gray-2;
  border-radius: 0;
}
