@import '../../../../styles/colors-variables';
@import '../../../../styles/text-variables';

.dashboard-container {
    .dashboard-metrics {
        display:grid;
        justify-content:space-between;
        grid-template-columns: repeat(auto-fit, minmax(245px, 2fr));
        grid-auto-rows: 130px;
        gap: 21px;

        .dashboard-metrics-container {
          height: 100%;
        }
    }

    .dashboard-campaigns {
        padding-top:60px;

    }
}
