.dashboard-container {
    .dashboard-metrics {
        display:flex;
        justify-content:space-between;

        ts-unary-metric-box {
            flex-grow:1;
            padding:0 16px;
        }
        ts-unary-metric-box:first-child {
            padding-left:0;
        }
        ts-unary-metric-box:last-child {
            padding-right:0;
        }
    }

    .dashboard-campaigns {
        padding-top:64px;
    }
}