<div class="dashboard-container">
    <div class="dashboard-metrics-container">
        <article class="dashboard-metrics">
            <ts-unary-metric-box
                title="Active Campaigns"
                value="25"
            ></ts-unary-metric-box>
            <ts-unary-metric-box
                title="Total Audience"
                value="1,284,288"
            ></ts-unary-metric-box>
            <ts-unary-metric-box
                title="Clients"
                value="32"
            ></ts-unary-metric-box>
            <ts-unary-metric-box
                title="Total Texts Sent"
                value="53,284,285"
            ></ts-unary-metric-box>
        </article>
    </div>
    <div class="dashboard-campaigns-container">
        <article class="dashboard-campaigns">
            <form class="dashboard-campaigns-form" #form="ngForm" (ngSubmit)="submitForm()">
              <div class="d-flex justify-content-between my-4">
                <h1 class="dashboard-campaigns-title-text">Active Campaigns</h1>
                <ts-button value="New"
                           icon="add"
                           [customIconSize]="{
                               width: '20px',
                               height: '22px',
                               viewBox: '0 0 15 15'
                           }">
                </ts-button>
              </div>
              <ts-list-filters
                [dataToFilter]="campaigns"
                (filterData)="setFilteredCampaign($event)"
                [filterByProperties]="filterByProperties"
                [sortByProperties]="sortByProperties"
              ></ts-list-filters>
              <ng-container *ngIf="filteredCampaigns.length; else noCampaignsFound">
                    <div
                        *ngFor="let campaign of filteredCampaigns"
                        class="campaign-panel-cmp-status-item"
                    >
                        <ts-campaign-panel
                            [model]="campaign"
                        ></ts-campaign-panel>
                    </div>
                </ng-container>
              <ng-template *ngIf="!campaigns || !campaigns.length">
                <div class="mt-5">No campaigns are currently active</div>
              </ng-template>
              <ng-template #noCampaignsFound>
                <div class="mt-5">Not found</div>
              </ng-template>
            </form>
        </article>
    </div>
</div>
