@import '../../../../styles/colors-variables';
@import '../../../../styles/text-variables';

.dashboard-container {
    .dashboard-metrics {
        display:flex;
        justify-content:space-between;

        ts-unary-metric-box {
            flex-grow:1;
            padding:0 16px;
        }
        ts-unary-metric-box:first-child {
            padding-left:0;
        }
        ts-unary-metric-box:last-child {
            padding-right:0;
        }
    }

    .dashboard-campaigns {
        padding-top:80px;

        .dashboard-campaigns-title-text {
            color:$color-blue-1;
            font-size:$font-size-6;
            font-weight:$font-weight-7;
        }
    }
}
