
.list-cmp-item-container {
    border-bottom:2px solid #eeeeee;
    padding: 20px;

    .list-cmp-item {
        align-items:center;
        display:flex;
        justify-content:space-between;
      ::ng-deep {
        > *, > .ng-star-inserted {
          width: 100%;
        }
      }

    }
}

.list-cmp-item-container.bigger {
  padding: 20px;
}

.no-borders {
  border: none !important;
}
