<div class="list-cmp-container {{ disableDivider ? 'no-borders' : '' }}" [class.bigger]="bigger" *ngFor="let item of data; index as i">
  <section class="list-cmp-item" [ngClass]="class" (click)="onClickItem($event, item)">
      <ng-container *ngIf="listItem; else commonListItem">
        <ng-container
          *ngTemplateOutlet="listItem; context: { $implicit: item, index: i }"
        ></ng-container>
      </ng-container>
            <ng-template #commonListItem>
              <div *ngFor="let column of columns">
                {{item[column]}}
              </div>
            </ng-template>
  </section>
</div>
