<form class="form p-4" [formGroup]="form" (ngSubmit)="submitForm()" [generateAndErrorHandlingReactiveForm]="form" @fade>
    <div class="login-container">
        <header class="header-1">
            <h1 class="header-1">Two Factor Login</h1>
            <h2 class="label-1">Enter the passcode we just texted to your mobile device to continue.</h2>
      </header>
      <div class="p-field">
        <ts-text-box
          #passcode
          ngDefaultControl
          formControlName="passcode"
          name="passcode"
          type="text"
          label="Passcode"
          required
        ></ts-text-box>
      </div>
      <div class="p-field">
        <ts-button
          value="Sign In"
          type="button"
          class="button-1"
          [disabled]="(loading$ | async) || form.invalid"
          (click)="submitForm()"
        ></ts-button>
        <ts-button
          value="Send New Passcode"
          type="button"
          class="button-2"
          (click)="sendPasscode()"
        ></ts-button>
      </div>
    </div>
  </form>
