<div class="list-filters-cmp-container d-flex justify-content-between">
  <div class="list-filters-cmp-left-hub">
    <ts-text-box></ts-text-box>
  </div>
  <div class="list-filters-cmp-right-hub">
    <div ngbDropdown class="d-inline-block me-5">
      <span id="clientSelector" ngbDropdownToggle>Client:  <b>All</b></span>
      <div ngbDropdownMenu aria-labelledby="clientSelector">
        <button ngbDropdownItem>1</button>
        <button ngbDropdownItem>2</button>
        <button ngbDropdownItem>3</button>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block">
      <span id="dueDateSelector" ngbDropdownToggle>Sort by:  <b>Due Date</b></span>
      <div ngbDropdownMenu aria-labelledby="dueDateSelector">
        <button ngbDropdownItem>1</button>
        <button ngbDropdownItem>2</button>
        <button ngbDropdownItem>3</button>
      </div>
    </div>
  </div>
</div>
