<div [formGroup]="form" class="list-filters-cmp-container d-flex justify-content-between my-4 align-items-center flex-wrap">
  <div class="list-filters-cmp-left-hub">
    <ts-text-box
      ngDefaultControl
      formControlName="search"
      placeholder="Search"
      icon="search">
    </ts-text-box>
  </div>
  <div class="list-filters-cmp-right-hub d-flex align-items-center mt-4 mt-md-0 flex-wrap">
    <ts-dropdown *ngFor="let filterBy of filterByProperties; index as i"
                 [data]="dataToFilter | uniqueValuesArrayElementsPipe: filterBy.property: ['All']"
                 (change)="filterDataBy(filterBy.property, $event.value)"
                 [label]="filterBy.label"
                 [showClear]="true"
                 wrapperClass="{{ i === 0 ? '' : 'ms-5'}}"
    >
    </ts-dropdown>
    <ts-dropdown *ngIf="sortByProperties && sortByProperties.length"
                  [data]="sortByProperties"
                 (change)="sortDataBy($event.value)"
                 label="Sort By: "
                 optionLabel="label"
                 wrapperClass="ms-0 ms-lg-5"
                 [showClear]="true">
    </ts-dropdown>
    <span class="text-color-blue-5 font-weight-5 d-flex align-items-center cursor-pointer ms-4"
          *ngFor="let action of actions"
          (click)="action.action()"
    >
      <ts-icon *ngIf="action.iconType === 'svg'; else primengIcon" [type]="action.icon" color="blue-5" [bold]="true" wrapperClass="me-2">
      </ts-icon>
      <ng-template #primengIcon>
        <i class="pi pi-{{action.icon}} me-2" ></i>
      </ng-template>
      <span>{{action.label}}</span>
    </span>
  </div>
</div>
