@import "~src/styles/colors-variables";
.texter-dashboard-cmp-container {
  .texter-dashboard-cmp-send-icon {
    transform: rotate(-45deg) translate(7px, 0);
    margin-top: 5px;
  }

  ::ng-deep {
    .campaign-panel-cmp-container {
      border: unset;
      padding: 0 0 15px;
    }
    .p-dropdown {
      background: transparent;
    }

    .list-cmp-item-container {
      padding-left: 0;
      padding-right: 0;
      border-bottom: unset;
    }
    .campaign-panel-cmp-info-title-text {
      color: $color-black-2 !important;
    }
  }

  .texter-dashboard-cmp-earnings-container {
    border-radius: 20px;
    max-height: 825px;
    width: 100%;
    max-width: 350px;
  }
}
