<div class="d-flex mt-4">
  <div class="w-100">
    <div class="d-flex align-items-center justify-content-between">
      <span class="subtitle">Analytics</span>
      <ts-dropdown [data]="scripts"></ts-dropdown>
    </div>
    <ts-list [data]="analyticsData" [disableDivider]="true">
      <ng-template #listItem let-analitycs>
        <div class="dot-separated-items">
          <span>
            {{analitycs.label}}
          </span>
          <span class="text-color-blue-5">
            {{analitycs.value}}
          </span>
        </div>
      </ng-template>
    </ts-list>
  </div>
  <div class="w-100">
    <ts-list [data]="analyticsData" [disableDivider]="true">
      <ng-template #listItem let-analitycs>
        <div class="dot-separated-items">
          <span>
            {{analitycs.label}}
          </span>
          <span class="text-color-blue-5">
            {{analitycs.value}}
          </span>
        </div>
      </ng-template>
    </ts-list>
  </div>

</div>
