@import "../../../../styles/colors-variables";
@import "../../../../styles/app-variables";

.messaging-viewer-cmp-campaign-container {
  min-height: calc(100vh - 65px) !important;

  ::ng-deep {
    .messaging-viewer-content {
      padding: 34px 44px;
    }
    .messaging-viewer-cmp-review-all-messages-opt {
      //margin: 0 0 15px;
      padding: 5px !important;

      .p-treenode-label {
        font-weight: 500 !important;
        color: $color-black-2 !important;
      }
    }
  }
}
