<div class="campaign-panel-cmp-container" [@fade]>
    <section class="campaign-panel-cmp flex-md-nowrap flex-wrap" [ngClass]="class" (click)="click.emit(model)">
        <div class="campaign-panel-cmp-info-container w-100 me-md-4 mb-4 mb-md-0">
            <div class="campaign-panel-cmp-info">
                <div class="campaign-panel-cmp-info-owner">
                    <span class="campaign-panel-cmp-info-owner-text">{{ model.name }}</span>
                </div>
                <div class="campaign-panel-cmp-info-title">
                    <span class="campaign-panel-cmp-info-title-text">{{ model.description }}</span>
                </div>
                <div class="campaign-panel-cmp-info-duedate">
                    <span class="campaign-panel-cmp-info-duedate-text">Due
                      {{ model.endDate | date: "MM/dd/yyyy" }}
                      {{ assignmentMode ? ' / ' + (model.startTime | date: 'hh:mm') + ' - ' + (model.endTime | date: 'hh:mm') : '' }}
                    </span>
                </div>
            </div>
        </div>
        <div class="w-100 mb-4 mb-md-0" *ngIf="!assignmentMode">
            <div class="campaign-panel-cmp-status">
                <ng-container *ngIf="model.tags && model.tags.length">
                  <ng-container>
                    <ts-button-label
                      class="me-2"
                      *ngFor="let tag of model.tags"
                      [type]="statusTypes[tag]"
                      [value]="tag"
                    ></ts-button-label>
                  </ng-container>

                </ng-container>
            </div>
        </div>
        <div class="campaign-panel-cmp-progress-container d-flex justify-content-xl-end">
            <div class="campaign-panel-cmp-progress" [class.completed]="completed">
                <ts-progress-bar
                  *ngIf="!completed; else completedStats"
                    [backgroundColor]="getPercentColor(model.target, model.sent)"
                    text="sent"
                    [total]="model.target"
                    [value]="model.sent"
                ></ts-progress-bar>
              <ng-template #completedStats>
                <div class="campaign-panel-cmp-complete-stats">
                 {{ model.sent }} messages sent {{ !assignmentMode ? ' / ' + model.replyRate + 'replies' : '' }}
                </div>
              </ng-template>
            </div>
        </div>
    </section>
</div>
