@import '../../../../styles/colors-variables';
@import '../../../../styles/text-variables';

.campaign-panel-cmp-container {
    border-bottom:2px solid #eeeeee;
    padding:32px 0;

    .campaign-panel-cmp {
        align-items:center;
        display:flex;
        justify-content:space-between;
        //cursor: pointer;

      .campaign-panel-cmp-info-container {
            .campaign-panel-cmp-info {
                .campaign-panel-cmp-info-owner {
                    .campaign-panel-cmp-info-owner-text {
                        color:$color-gray-1;
                        font-size:$font-size-3;
                        font-weight:$font-weight-4;
                    }
                }

                .campaign-panel-cmp-info-title {
                    .campaign-panel-cmp-info-title-text {
                        color:$color-blue-2;
                        font-size:$font-size-3;
                        font-weight:$font-weight-6;
                    }
                }

                .campaign-panel-cmp-info-duedate {
                    padding:10px 0 4px;

                    .campaign-panel-cmp-info-duedate-text {
                        color:$color-gray-1;
                        font-size:$font-size-3;
                        font-weight:$font-weight-3;
                    }
                }
            }
        }

        .campaign-panel-cmp-progress-container {
            flex-grow:1;

            .campaign-panel-cmp-progress {
                width:200px;
                &.completed {
                  width: auto;
                }
            }

          @media screen and (max-width: 753px) {
            .campaign-panel-cmp-progress {
              width:100%;
            }
          }
        }
    }
  .campaign-panel-cmp-complete-stats {
    white-space: nowrap;
    color: $color-gray-1;
    font-weight: 300;
  }
}
