<div class="campaign-panel-cmp-container">
    <section class="campaign-panel-cmp" [ngClass]="class">
        <div class="campaign-panel-cmp-info-container">
            <div class="campaign-panel-cmp-info">
                <div class="campaign-panel-cmp-info-owner">
                    <span class="campaign-panel-cmp-info-owner-text">{{ model.name }}</span>
                </div>
                <div class="campaign-panel-cmp-info-title">
                    <span class="campaign-panel-cmp-info-title-text">{{ model.description }}</span>
                </div>
                <div class="campaign-panel-cmp-info-duedate">
                    <span class="campaign-panel-cmp-info-duedate-text">Due {{ model.endDate | date: "MM/dd/yyyy" }}</span>
                </div>
            </div>
        </div>
        <div class="campaign-panel-cmp-status-container">
            <div class="campaign-panel-cmp-status">
                <ng-container *ngIf="model.tags && model.tags.length">
                    <div
                        *ngFor="let tag of model.tags"
                        class="campaign-panel-cmp-status-item"
                        [ngClass]="{
                            'campaign-status-unassigned': tag == 'unassigned contacts',
                            'campaign-status-in-progress': tag == 'in progress',
                            'campaign-status-not-started': tag == 'not started'
                        }"
                    >
                        <span class="campaign-panel-cmp-status-item-text">{{ tag }}</span>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="campaign-panel-cmp-progress-container">
            <div class="campaign-panel-cmp-progress">
                <ts-progress-bar
                    backgroundColor="#66cc00"
                    foregroundColor="#ddffbb"
                    text="sent"
                    [total]="model.target"
                    [value]="model.sent"
                ></ts-progress-bar>
            </div>
        </div>
    </section>
</div>