
<div class="col-12">
<div class="mb-4 d-flex flex-column">
  <div class="d-flex justify-content-between">
    <span class="text-color-blue-2 font-size-4 font-weight-5">{{ campaign.name }}</span>
    <ts-button *ngIf="campaign.tags.indexOf('completed') <= -1"
                icon="edit"
               iconColor="blue-4"
               mode="secondary"
               value="Edit"
               (click)="goTo(routes.editCampaign + campaign.id)"
    >
    </ts-button>
  </div>
  <span class="font-size-10">{{ campaign.description }}</span>
  <p class="text-color-gray-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto ipsa repellat voluptatum?</p>
</div>
  <div class="d-flex justify-content-between flex-wrap">
    <div class="d-flex flex-wrap">
      <ts-column-text-item [disablePaddingLeft]="true" label="Due Date" [text]="campaign.endDate | date">
      </ts-column-text-item>
<!--      9:00AM - 9:00PM EST -->
      <ts-column-text-item label="Texting Hours" text="{{campaign.startTime | date : 'hh:mm a' }} - {{campaign.endTime | date : 'hh:mm a' }} {{campaign.timezone}}">
      </ts-column-text-item>
      <ts-column-text-item label="Replies" text="On">
      </ts-column-text-item>
      <ts-column-text-item label="Self-Assignment" text="On">
      </ts-column-text-item>
    </div>
    <div class="d-flex flex-wrap justify-content-end">
      <ts-column-text-item label="Client Rate" text="$0.20" textClass="text-color-blue-5 font-weight-6">
      </ts-column-text-item>
      <ts-column-text-item label="Texter Initial Rate" text="${{campaign.sendRate}}" textClass="text-color-blue-5 font-weight-6">
      </ts-column-text-item>
      <ts-column-text-item [disableBorder]="true" [disablePaddingRight]="true" label="Texter Reply Rate" text="${{campaign.replyRate}}" textClass="text-color-blue-5 font-weight-6">
      </ts-column-text-item>
    </div>
  </div>

  <div class=" my-4 d-flex align-items-center">
    <ts-button-label *ngFor="let tag of campaign.tags"  [type]="campaignTagStatus[tag]" [value]="tag" class="me-2"></ts-button-label>
  </div>
  <div class="col-12 border-top my-5"></div>
  <p-tabView [(activeIndex)]="tabActiveIndex" styleClass="bordered-bottom" (onChange)="onTabChange($event)">
    <p-tabPanel header="Dashboard">
      <ts-campaign-view-dashboard (selectStatistic)="selectContactTab($event)"></ts-campaign-view-dashboard>
    </p-tabPanel>
    <p-tabPanel header="Contacts">
      <ts-campaign-view-contacts
        [selectedScript]="contactsScriptFilter"
        [selectedStatus]="contactsStatusFilter"
        [selectedTag]="contactsTagFilter"
      ></ts-campaign-view-contacts>
    </p-tabPanel>
    <p-tabPanel header="Scripts">
      <ts-campaign-view-scripts></ts-campaign-view-scripts>
    </p-tabPanel>
    <p-tabPanel header="Messages">
      <ts-campaign-view-messages></ts-campaign-view-messages>
    </p-tabPanel>
  </p-tabView>
</div>
